/*
Example usage in your components:

.button {
    @include custom-button(#1E90FF, white);
}

.card {
    @include card-base;
    @include flex-center;
}

.responsive-text {
    @include responsive-font(16px, 24px);
}

.glass-card {
    @include glass-effect;
    @include card-base;
}

@media (max-width: 768px) {
    .mobile-only {
        @include hide;
    }
}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("images/bg.jpg") #030728 no-repeat center;
}

@media screen and (min-width: 0px) and (max-width: 479px) {
  .container {
    display: grid;
    gap: clamp(0.12rem, 1vw, 0.25rem);
    grid-template-areas: "header" "nav" "main" "widget" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    height: 100vh;
  }
  .container .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    border: 2px solid RGBA(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
    background-color: #202531;
    border-radius: clamp(0.5rem, 1vw, 1rem) clamp(0.5rem, 1vw, 1rem) 0 0;
    grid-area: header;
    height: auto;
    margin: 0 clamp(0.5rem, 1vw, 1rem) 0 clamp(0.5rem, 1vw, 1rem);
    position: fixed;
    top: 0;
    width: 99vw;
    z-index: 100;
  }
  .container .header .header-menu {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3399CC;
    border-radius: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem) 0 0;
    margin: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem);
    padding: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem);
    width: 100%;
  }
  .container .header .header-menu .main-links {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 clamp(0.25rem, 1vw, 0.5rem);
  }
  .container .header .header-menu .main-links a {
    color: #FFFFFF;
    padding: 0 clamp(0.25rem, 1vw, 0.5rem) 0 clamp(0.25rem, 1vw, 2.5rem);
  }
  .container .header .header-menu .main-links a:hover {
    color: #1E90FF;
  }
  .container .header .header-menu .extra-links {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 clamp(0.25rem, 1vw, 0.5rem) 0 25vw;
  }
  .container .header .header-menu .extra-links a {
    color: #FFFFFF;
    padding: 0 clamp(0.25rem, 1vw, 0.5rem) 0 clamp(0.25rem, 1vw, 2.5rem);
  }
  .container .header .header-menu .extra-links a:hover {
    color: #1E90FF;
  }
  .container .nav {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    border: 2px solid RGBA(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
    background-color: #800080;
    border-radius: clamp(0.5rem, 1vw, 1rem) 0 0 clamp(0.5rem, 1vw, 1rem);
    grid-area: nav;
    height: 98vh;
    left: 0;
    margin: 0 clamp(0.5rem, 1vw, 0.5rem) 0 clamp(0.5rem, 1vw, 0.5rem);
    top: 0;
    width: 100vw;
    z-index: 99;
  }
  .container .nav .nav-logo {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #D1D6E0;
    border-radius: clamp(0.15rem, 1vw, 0.3rem);
    box-shadow: clamp(0.15rem, 1vw, 0.3rem) rgb(219, 65, 124);
    display: none;
    height: auto;
    margin: clamp(0.2rem, 1vw, 0.4rem);
    width: auto;
  }
  .container .nav .nav-logo .img {
    aspect-ratio: 1/1;
    width: clamp(4rem, 1vw, 8rem);
  }
  .container .nav .nav-menu {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: start;
    justify-content: start;
    height: 72%;
    overflow-y: scroll;
    padding: clamp(0.3rem, 1vw, 0.6rem) clamp(0.25rem, 1vw, 0.5rem);
  }
  .container .nav .nav-menu label {
    color: #FFFFFF;
    display: none;
    font-size: clamp(0.3rem, 1vw, 0.6rem);
    font-weight: 500;
    margin: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem) 0 clamp(0.25rem, 1vw, 0.5rem);
    text-transform: uppercase;
  }
  .container .nav .nav-user {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #D1D6E0;
    border-radius: 0 clamp(0.37rem, 1vw, 0.75rem) clamp(0.37rem, 1vw, 0.75rem) 0;
    box-shadow: clamp(0.15rem, 1vw, 0.3rem) rgb(219, 65, 124);
    height: auto;
    margin: clamp(0.2rem, 1vw, 0.4rem);
    width: 98vw;
  }
  .container .nav .nav-user .icon {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container .nav .nav-user .icon .img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: clamp(0.25rem, 1vw, 0.5rem);
    width: clamp(2rem, 1vw, 2.5rem);
  }
  .container .nav .nav-user .user {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container .nav .nav-user .user .name {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #121212;
    font-size: clamp(0.5rem, 1vw, 1rem);
    text-align: center;
    text-overflow: inherit;
  }
  .container .nav .nav-user .user .profession {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
    font-size: clamp(0.5rem, 1vw, 1rem);
  }
  .container .main {
    backdrop-filter: blur(10px);
    border: 2px solid RGBA(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
    background-color: #FF3333;
    grid-area: main;
    height: auto;
    margin: 0 clamp(0.5rem, 1vw, 0.5rem) 0 clamp(0.5rem, 1vw, 0.5rem);
    padding: clamp(0.25rem, 1vw, 0.5rem);
    width: 98vw;
    z-index: 99;
  }
  .container .main .main-badges {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
    backdrop-filter: blur(10px);
    border: 2px solid RGBA(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
  }
  .container .main .main-charts {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    border: 2px solid RGBA(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
  }
  .container .widget {
    backdrop-filter: blur(10px);
    border: 2px solid RGBA(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
    background-color: red;
    grid-area: widget;
  }
  .container .footer {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    border: 2px solid RGBA(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
    background-color: #FF007F;
    border-radius: 0 0 0.5rem 0.5rem;
    border-radius: 0 0 clamp(0.5rem, 1vw, 0.75rem) clamp(0.5rem, 1vw, 0.75rem);
    bottom: 0;
    grid-area: footer;
    margin: 0 clamp(0.5rem, 1vw, 1rem) 0 clamp(0.5rem, 1vw, 1rem);
    padding: clamp(0.25rem, 1vw, 0.5rem);
    width: 99vw;
    z-index: 99;
  }
  .container .footer .footer-divide1 {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid #121212;
    border-radius: 0;
    padding: clamp(0.1rem, 1vw, 0.25rem);
    margin: clamp(0.1rem, 1vw, 0.2rem);
    width: 100%;
  }
  .container .footer .footer-divide1 .footer-copyright {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(0.1rem, 1vw, 0.25rem);
    width: 100%;
  }
  .container .footer .footer-divide1 .footer-copyright p {
    color: #121212;
    font-size: clamp(0.6rem, 1vw, 1.2rem);
    padding: clamp(0.1rem, 1vw, 0.25rem);
    text-align: center;
  }
  .container .footer .footer-divide1 .footer-copyright p a {
    color: #121212;
    font-size: clamp(0.6rem, 1vw, 1.2rem);
    padding: clamp(0.01rem, 1vw, 0.02rem);
    text-decoration: none;
  }
  .container .footer .footer-divide1 .footer-copyright p a:hover {
    color: #FFFFFF;
    text-decoration: underline;
  }
  .container .footer .footer-divide1 .footer-statement {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(0.01rem, 1vw, 0.02rem);
    width: 100%;
  }
  .container .footer .footer-divide1 .footer-statement p {
    color: #121212;
    font-size: clamp(0.6rem, 1vw, 1rem);
    padding: clamp(0.1rem, 1vw, 0.25rem);
    text-align: center;
  }
  .container .footer .footer-divide1 .footer-statement p a {
    color: #121212;
    font-size: clamp(0.4rem, 1vw, 0.8rem);
    padding: clamp(0.1rem, 1vw, 0.25rem);
    text-decoration: none;
  }
  .container .footer .footer-divide1 .footer-statement p a:hover {
    color: #FFFFFF;
    text-decoration: underline;
  }
  .container .footer .footer-divide1 hr {
    border: 0.12rem solid #202531;
    margin: clamp(0.2rem, 1vw, 0.4rem);
    width: 80%;
  }
  .container .footer .footer-divide2 {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid #121212;
    border-radius: 0 0 0.5rem 0.5rem;
    height: auto;
    padding: clamp(0.1rem, 1vw, 0.25rem);
    margin: clamp(0.1rem, 1vw, 0.2rem);
    width: 100%;
  }
  .container .footer .footer-divide2 .footer-links {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .container .footer .footer-divide2 .footer-links a {
    color: #121212;
    font-size: clamp(0.7rem, 1vw, 1.2rem);
    padding: clamp(0.1rem, 1vw, 0.25rem);
    text-decoration: none;
  }
  .container .footer .footer-divide2 .footer-links a:hover {
    color: #FFFFFF;
    text-decoration: underline;
  }
  .container .footer .footer-divide2 .footer-social {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  .container .footer .footer-divide2 .footer-social a {
    color: #121212;
    font-size: clamp(0.7rem, 1vw, 1.2rem);
    padding: clamp(0.1rem, 1vw, 0.2rem);
    text-decoration: none;
  }
  .container .footer .footer-divide2 .footer-social a:hover {
    color: #FFFFFF;
    text-decoration: underline;
  }
}
@media screen and (min-width: 480px) {
  .container {
    display: grid;
    grid-template-areas: "nav header header header header header header header header header" "nav main main main main main main main main main" "nav footer footer footer footer footer footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 9vh auto 90vh 5vh;
  }
  .container .nav {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: start;
    backdrop-filter: blur(10px);
    border: 2px solid RGBA(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
    background-color: #202531;
    border-radius: clamp(0.5rem, 1vw, 1rem) 0 0 clamp(0.5rem, 1vw, 1rem);
    grid-area: nav;
    height: 98vh;
    left: 0;
    margin: clamp(0.25rem, 1vw, 0.5rem) 0 clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem);
    position: fixed;
    top: 0;
    width: 12.5vw;
    z-index: 100;
  }
  .container .nav .nav-logo {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #D1D6E0;
    border-radius: clamp(0.15rem, 1vw, 0.3rem);
    box-shadow: clamp(0.15rem, 1vw, 0.3rem) rgb(219, 65, 124);
    height: 10%;
    margin: clamp(0.2rem, 1vw, 0.4rem);
    width: 10.6vw;
  }
  .container .nav .nav-logo .img {
    aspect-ratio: 1/1;
    width: clamp(4rem, 1vw, 8rem);
  }
  .container .nav .nav-menu {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: start;
    height: 72%;
    overflow-y: scroll;
    padding: clamp(0.3rem, 1vw, 0.6rem) clamp(0.25rem, 1vw, 0.5rem);
  }
  .container .nav .nav-menu label {
    color: #FFFFFF;
    font-size: clamp(0.3rem, 1vw, 0.6rem);
    font-weight: 500;
    margin: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem) 0 clamp(0.25rem, 1vw, 0.5rem);
    text-transform: uppercase;
  }
  .container .nav .nav-user {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #D1D6E0;
    border-radius: 0 0 0 clamp(0.37rem, 1vw, 0.75rem);
    box-shadow: clamp(0.15rem, 1vw, 0.3rem) rgb(219, 65, 124);
    height: auto;
    margin: clamp(0.2rem, 1vw, 0.4rem);
    width: 10.6vw;
  }
  .container .nav .nav-user .icon {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container .nav .nav-user .icon .img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: clamp(0.25rem, 1vw, 0.5rem);
    width: clamp(2rem, 1vw, 2.5rem);
  }
  .container .nav .nav-user .user {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container .nav .nav-user .user .name {
    color: #121212;
    font-size: clamp(0.5rem, 1vw, 1rem);
    text-align: center;
    text-overflow: inherit;
  }
  .container .nav .nav-user .user .profession {
    color: #FFFFFF;
    text-align: center;
    font-size: clamp(0.5rem, 1vw, 1rem);
  }
  .container .header {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    border: 2px solid RGBA(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
    background-color: #202531;
    border-radius: 0 clamp(0.5rem, 1vw, 1rem) 0 0;
    grid-area: header;
    height: auto;
    margin: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem) 0 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 85.8vw;
    z-index: 100;
  }
  .container .header .header-menu {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #030728;
    border-radius: 0 clamp(0.25rem, 1vw, 0.5rem) 0 0;
    margin: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem);
    padding: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem);
    width: 100%;
  }
  .container .header .header-menu .main-links {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 clamp(0.25rem, 1vw, 0.5rem);
  }
  .container .header .header-menu .main-links a {
    color: #FFFFFF;
    padding: 0 clamp(0.25rem, 1vw, 0.5rem) 0 clamp(0.25rem, 1vw, 2.5rem);
  }
  .container .header .header-menu .main-links a:hover {
    color: #1E90FF;
  }
  .container .header .header-menu .extra-links {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 clamp(0.25rem, 1vw, 0.5rem) 0 25vw;
  }
  .container .header .header-menu .extra-links a {
    color: #FFFFFF;
    padding: 0 clamp(0.25rem, 1vw, 0.5rem) 0 clamp(0.25rem, 1vw, 2.5rem);
  }
  .container .header .header-menu .extra-links a:hover {
    color: #1E90FF;
  }
  .container .main {
    backdrop-filter: blur(10px);
    border: 2px solid RGBA(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
    background-color: rgb(185, 236, 66);
    bottom: 120;
    grid-area: main;
    height: 83vh;
    margin: 0 clamp(0.25rem, 1vw, 0.5rem) 0 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    width: 85.8vw;
    z-index: 100;
  }
  .container .main .main-badges {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
    backdrop-filter: blur(10px);
    border: 2px solid RGBA(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
  }
  .container .main .main-charts {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    border: 2px solid RGBA(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
  }
  .container .footer {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    border: 2px solid RGBA(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
    background-color: rgb(207, 40, 104);
    border-radius: 0 0 1rem 0;
    bottom: 0;
    grid-area: footer;
    margin: 0 clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem) 0;
    padding: clamp(0.5rem, 1vw, 1rem);
    position: fixed;
    right: 0;
    width: 85.8vw;
    z-index: 100;
  }
  .container .footer .footer-divide1 {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid #121212;
    border-radius: 0;
    margin: clamp(0.1rem, 1vw, 0.2rem);
    width: 60%;
  }
  .container .footer .footer-divide1 .footer-copyright {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(0.01rem, 1vw, 0.02rem);
    width: 100%;
  }
  .container .footer .footer-divide1 .footer-copyright p {
    color: #121212;
    font-size: clamp(0.4rem, 1vw, 0.8rem);
    text-align: center;
  }
  .container .footer .footer-divide1 .footer-copyright p a {
    color: #121212;
    font-size: clamp(0.4rem, 1vw, 0.8rem);
    padding: clamp(0.01rem, 1vw, 0.02rem);
    text-decoration: none;
  }
  .container .footer .footer-divide1 .footer-copyright p a:hover {
    color: #FFFFFF;
    text-decoration: underline;
  }
  .container .footer .footer-divide1 .footer-statement {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(0.01rem, 1vw, 0.02rem);
    width: 100%;
  }
  .container .footer .footer-divide1 .footer-statement p {
    color: #121212;
    font-size: clamp(0.4rem, 1vw, 0.8rem);
    text-align: center;
  }
  .container .footer .footer-divide1 .footer-statement p a {
    color: #121212;
    font-size: clamp(0.4rem, 1vw, 0.8rem);
    padding: clamp(0.01rem, 1vw, 0.02rem);
    text-decoration: none;
  }
  .container .footer .footer-divide1 .footer-statement p a:hover {
    color: #FFFFFF;
    text-decoration: underline;
  }
  .container .footer .footer-divide1 hr {
    border: 0.12rem solid #05502c;
    margin: clamp(0.2rem, 1vw, 0.4rem);
    width: 80%;
  }
  .container .footer .footer-divide2 {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid #121212;
    border-radius: 0 0 0.5rem 0;
    margin: clamp(0.1rem, 1vw, 0.2rem);
    width: 40%;
  }
  .container .footer .footer-divide2 .footer-links {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container .footer .footer-divide2 .footer-links a {
    color: #121212;
    font-size: clamp(0.8rem, 1vw, 1.6rem);
    padding: clamp(0.1rem, 1vw, 0.25rem);
    text-decoration: none;
  }
  .container .footer .footer-divide2 .footer-links a:hover {
    color: #FFFFFF;
    text-decoration: underline;
  }
  .container .footer .footer-divide2 .footer-social {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container .footer .footer-divide2 .footer-social a {
    color: #121212;
    font-size: clamp(0.8rem, 1vw, 1.6rem);
    padding: clamp(0.15rem, 1vw, 0.3rem);
    text-decoration: none;
  }
  .container .footer .footer-divide2 .footer-social a:hover {
    color: #FFFFFF;
    text-decoration: underline;
  }
}