.title {
  color: #1E90FF;
  font-weight: 600;
}

.call {
  color: #1E90FF;
  font-weight: 400;
}

.h-container {
  border: 1px solid #0D0D0D;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  top: 80px;
  width: 99vw;
}
.h-container .welcome {
  padding: 10px;
  position: relative;
  width: 40vw;
}
.h-container .welcome h1 {
  font-size: 80px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
}
.h-container .welcome P {
  font-size: 26px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
}

.m-container {
  border: 1px solid #0D0D0D;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 60px 10px;
  top: auto;
  width: 99vw;
}
.m-container .col {
  border: 1px solid #0D0D0D;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 98vw;
}
.m-container .description {
  align-items: center;
  border: 1px solid #0D0D0D;
  display: flex;
  justify-content: flex-start;
  margin: 2px;
  width: 24vw;
}
.m-container .description p {
  padding: 2px;
}
.m-container .description p ul {
  padding: 5px;
}
.m-container .projects {
  border: 1px solid #0D0D0D;
  height: 300px;
  margin: 2px;
  position: relative;
  width: 20vw;
}
.m-container .projects .center-circle {
  background-color: #1E90FF;
  border-radius: 50%;
  height: 120px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  z-index: 2;
}
.m-container .projects .center-circle .img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  width: 110px;
}
.m-container .projects .around-img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  width: 100px;
}
.m-container .projects .around-img:nth-child(2) {
  top: calc(50% + 0px - 47px);
  left: calc(50% + 120px - 47px);
}
.m-container .projects .around-img:nth-child(3) {
  top: calc(50% + 84.8528137424px - 47px);
  left: calc(50% + 84.8528137424px - 47px);
}
.m-container .projects .around-img:nth-child(4) {
  top: calc(50% + 120px - 47px);
  left: calc(50% + 0px - 47px);
}
.m-container .projects .around-img:nth-child(5) {
  top: calc(50% + 84.8528137424px - 47px);
  left: calc(50% - 84.8528137424px - 47px);
}
.m-container .projects .around-img:nth-child(6) {
  top: calc(50% + 0px - 47px);
  left: calc(50% - 120px - 47px);
}
.m-container .projects .around-img:nth-child(7) {
  top: calc(50% - 84.8528137424px - 47px);
  left: calc(50% - 84.8528137424px - 47px);
}
.m-container .projects .around-img:nth-child(8) {
  top: calc(50% - 120px - 47px);
  left: calc(50% + 0px - 47px);
}
.m-container .projects .around-img:nth-child(9) {
  top: calc(50% - 84.8528137424px - 47px);
  left: calc(50% + 84.8528137424px - 47px);
}
.m-container .projects .around-img:nth-child(10) {
  top: calc(50% + 0px - 47px);
  left: calc(50% + 120px - 47px);
}
.m-container .row {
  border: 1px solid #0D0D0D;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 45vw;
}

.f-container {
  align-content: center;
  border: 1px solid #0D0D0D;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: center;
  margin: 10px;
  padding: 1px 1px;
  width: 99vw;
}
.f-container .about {
  border: 1px solid #0D0D0D;
  color: #0D0D0D;
  padding: 2px;
  font-size: 1.2rem;
  text-align: center;
  width: 19vw;
}
.f-container .about .container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}
.f-container .about .container .first {
  align-items: center;
  display: flex;
  justify-content: center;
}
.f-container .about .container .first .img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  max-width: 8vw;
  object-fit: cover;
  object-position: center;
  padding: 2px;
}
.f-container .about .container .last {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.f-container .about .container .last .text {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.f-container .about .container .last .text .title {
  font-size: 20px;
  font-weight: 900;
  padding: 2px;
  text-align: left;
  width: 32%;
}
.f-container .about .container .last .text .colon {
  font-size: 20px;
  font-weight: 900;
  padding-right: 20px;
  text-align: center;
  width: auto;
}
.f-container .about .container .last .text .name {
  align-items: flex-end;
  color: #0D0D0D;
  font-size: 20px;
  font-weight: 16px;
  justify-items: flex-end;
  padding: 2px;
  text-align: left;
  width: 66%;
}
.f-container .services {
  border: 1px solid #0D0D0D;
  color: #0D0D0D;
  padding: 2px;
  font-size: 20px;
  text-align: center;
  width: 9vw;
}
.f-container .services .container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-left: 10px;
  text-align: left;
  width: 100%;
}
.f-container .services .container a {
  color: #0D0D0D;
  font-size: 20px;
  font-weight: 16px;
  padding-bottom: 4px;
  text-decoration: none;
}
.f-container .services .container a:hover {
  color: #FFFFFF;
}
.f-container .services .container .line {
  border-top: 1px solid #121212;
}
.f-container .projects {
  align-items: center;
  border: 1px solid #0D0D0D;
  color: #0D0D0D;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-items: center;
  padding: 2px 0 2px 2px;
  font-size: 1.2rem;
  text-align: center;
  width: 42vw;
}
.f-container .projects .container {
  align-items: center;
  border: 1px solid #0D0D0D;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.f-container .projects .container .img {
  aspect-ratio: 16/9;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  padding: 2px;
  width: 12vw;
}
.f-container .projects .container .links {
  align-items: center;
  border-top: 1px solid #121212;
  color: #0D0D0D;
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  width: 100%;
}
.f-container .projects .container .links a {
  color: #FFFFFF;
  padding: 4px;
  text-decoration: none;
}
.f-container .projects .container .links a:hover {
  color: #FFFFFF;
}
.f-container .contact {
  color: #0D0D0D;
  padding: 5px;
  font-size: 1.2rem;
  text-align: center;
  width: 25vw;
}
.f-container .contact .title {
  color: #0D0D0D;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 10px;
}
.f-container .contact .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.f-container .contact .form button {
  background-color: #121212;
  border: 1px solid #121212;
  color: #0D0D0D;
  padding: 10px;
  transition: background-color 0.5s;
  transition-delay: 0s;
}
.f-container .contact .form button:hover {
  background-color: #121212;
  color: #FFFFFF;
}
.f-container .contact .form input {
  border: 1px solid #121212;
  color: #0D0D0D;
  padding: 10px;
  transition: background-color 0.5s;
  transition-delay: 0s;
  width: 100%;
}
.f-container .contact .form input:hover {
  border: 1px solid #121212;
  color: #FFFFFF;
}
.f-container .contact .form textarea {
  border: 1px solid #121212;
  color: #0D0D0D;
  height: 138px;
  padding: 10px;
  transition: background-color 0.5s;
  transition-delay: 0s;
  width: 100%;
}
.f-container .contact .form textarea:hover {
  border: 1px solid #121212;
  color: #FFFFFF;
}
.f-container .contact .social {
  align-items: center;
  border-top: 1px solid #121212;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  padding: 5px;
  width: 100%;
}
.f-container .contact .social .icon {
  border: 1px solid #121212;
  border-radius: 50%;
  color: #0D0D0D;
  font-size: 16px;
  margin: 10px;
  outline: 1px solid #0D0D0D;
  padding: 10px 2px;
  transition: 0.5s;
  transition-delay: 0s;
}
.f-container .contact .social .icon:hover {
  color: #FFFFFF;
  outline: 1px solid #FFFFFF;
}
.f-container .contact .social:hover {
  color: #FFFFFF;
}
.f-container .statement {
  border-top: 1px solid #121212;
  color: #0D0D0D;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  width: 98vw;
}
.f-container .statement .first {
  display: flex;
  gap: 2px;
  padding: 10px;
  font-size: 12px;
}
.f-container .statement .first p {
  color: #0D0D0D;
  padding: 2px;
  font-size: 12px;
  text-align: center;
  width: 96vw;
}
.f-container .statement .first p a {
  color: #0D0D0D;
  text-decoration: none;
}
.f-container .statement .first p a:hover {
  color: #FFFFFF;
}
.f-container .statement .last {
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-size: 12px;
}
.f-container .statement .last .copyright {
  color: #0D0D0D;
  display: flex;
  font-size: 12px;
  justify-content: flex-start;
  padding-left: 10px;
  text-align: center;
  width: 48vw;
}
.f-container .statement .last .developer {
  align-items: center;
  color: #0D0D0D;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  font-size: 12px;
  text-align: right;
  width: 48vw;
}
.f-container .statement .last a {
  color: #0D0D0D;
  text-decoration: none;
}
.f-container .statement .last a:hover {
  color: #FFFFFF;
}

.navbar {
  align-items: flex-start;
  backdrop-filter: blur(30px);
  border: 2px solid RGBA(255, 255, 255, 0.18);
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
  display: flex;
  justify-content: center;
  padding: 0;
  position: fixed;
  top: 1px;
  width: 100%;
  z-index: 11;
}
.navbar .extra {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}
.navbar .extra .account {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
}
.navbar .extra .account button {
  background-color: #1E90FF;
  color: #FFFFFF;
  height: 30px;
  padding: 0 10px;
}
.navbar .extra .account button:hover {
  background-color: #FFFFFF;
  color: #1E90FF;
}
.navbar .extra .search {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
}
.navbar .extra .search button {
  background-color: #FF0099;
  border: 1px solid #0D0D0D;
  border-radius: 50%;
  border-left: none;
  border-right: 10px;
  border-bottom: 10px;
  color: #FFFFFF;
  cursor: pointer;
  height: 30px;
  margin-left: -14px;
  width: 30px;
  transition: background-color 0.5s;
  transition-delay: 0s;
  z-index: 1;
}
.navbar .extra .search button i {
  color: #0D0D0D;
  font-size: 16px;
  transition: 0.5s;
  transition-delay: 0s;
}
.navbar .extra .search button:hover {
  background-color: #004D61;
  color: #121212;
}
.navbar .extra .search button:hover i:hover {
  color: #FFFFFF;
}
.navbar .extra .search input {
  background: transparent;
  border: 1px solid #004D61;
  border-radius: 20px 0 0 20px;
  color: #0D0D0D;
  cursor: pointer;
  height: 12px;
  outline: none;
  padding: 8px 0px 8px 20px;
  width: 180px;
}
.navbar .extra .search input:hover {
  background: #A8DADC;
  color: #004D61;
}
.navbar .logo {
  display: flex;
  filter: drop-shadow(0 2px 8px #0D0D0D);
  height: auto;
  width: 10vw;
}
.navbar .logo img {
  aspect-ratio: 1/1;
  overflow: hidden;
  padding: 0 10px;
  width: 60px;
}
.navbar .nav-links {
  align-items: center;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0 20px;
  margin: 0;
}
.navbar .nav-item .nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
  color: #1E90FF;
  text-decoration: none;
}
.navbar .nav-item .nav-link .icon {
  aspect-ratio: 1/1;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  font-size: 30px;
  position: relative;
  text-align: center;
  transition: transform 0.2s;
  width: 40px;
}
.navbar .nav-item .nav-link .icon i:hover {
  color: #0D0D0D;
}
.navbar .nav-item .nav-link .text {
  display: none;
  font-size: 20px;
  margin-top: 0.25rem;
  margin-left: 10px;
  transition: opacity 0.2s;
}
.navbar .nav-item .nav-link:hover .icon, .navbar .nav-item .nav-link:focus .icon {
  transform: scale(1.1);
}
.navbar .nav-item .nav-link:hover .text, .navbar .nav-item .nav-link:focus .text {
  color: #0D0D0D;
  display: block;
  opacity: 1;
}

@media (max-width: 768px) {
  .navbar .nav-links {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 480px) {
  .navbar .nav-links {
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar .nav-links .nav-link {
    flex-direction: row;
  }
  .navbar .nav-links .nav-link .nav-text {
    margin-top: 0;
    margin-left: 0.5rem;
  }
}
.container {
  display: flex;
  width: 100%;
  height: 70vh;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.5s ease;
}
.container:focus {
  border-color: #007BFF;
}
.container:not(:focus) .side {
  transform: scale(0.95);
  opacity: 0.85;
}

.side {
  flex: 1;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.side.left-side {
  background-color: #f0f0f0;
}
.side.left-side:hover {
  width: 100%;
  z-index: 3;
}
.side.right-side {
  background-color: #d0d0d0;
}
.side.right-side:hover {
  width: 100%;
  z-index: 3;
}