* {
  box-sizing: none;
  margin: 0;
  padding: 0;
}

body .parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}
body .parent nav {
  align-items: center;
  justify-items: center;
  grid-column: span 12/span 12;
  grid-row-start: 1;
  z-index: 11;
}
body .parent header {
  align-items: center;
  justify-items: center;
  grid-column: span 12/span 12;
  grid-row-start: 2;
  z-index: 11;
}
body .parent main {
  align-items: center;
  justify-items: center;
  grid-column: span 12/span 12;
  grid-row-start: 3;
  z-index: 11;
}
body .parent footer {
  backdrop-filter: blur(10px);
  border: 2px solid RGBA(255, 255, 255, 0.18);
  box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
  grid-column: span 12/span 12;
  grid-row-start: 4;
  margin: 2px;
  width: 100%;
  z-index: 11;
}
body .parent footer .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  width: 100%;
}
body .parent footer .container .about {
  color: #0D0D0D;
  padding: 2px;
  font-size: 1.2rem;
  text-align: center;
  width: 20%;
}
body .parent footer .container .about .container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}
body .parent footer .container .about .container .first {
  align-items: center;
  display: flex;
  justify-content: center;
}
body .parent footer .container .about .container .first .img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  max-width: 8vw;
  object-fit: cover;
  object-position: center;
  padding: 2px;
}
body .parent footer .container .about .container .last {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
body .parent footer .container .about .container .last .text {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
body .parent footer .container .about .container .last .text .title {
  font-size: 20px;
  font-weight: 800;
  padding: 2px;
  text-align: left;
  width: 32%;
}
body .parent footer .container .about .container .last .text .colon {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  width: auto;
}
body .parent footer .container .about .container .last .text .name {
  color: #0D0D0D;
  font-size: 20px;
  font-weight: 16px;
  padding: 2px;
  text-align: left;
  width: 66%;
}
body .parent footer .container .services {
  color: #0D0D0D;
  padding: 2px;
  font-size: 20px;
  text-align: center;
  width: 10%;
}
body .parent footer .container .services .container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-left: 10px;
  text-align: left;
  width: 100%;
}
body .parent footer .container .services .container a {
  color: #0D0D0D;
  font-size: 20px;
  font-weight: 16px;
  padding-bottom: 4px;
  text-decoration: none;
}
body .parent footer .container .services .container a:hover {
  color: #FFFFFF;
}
body .parent footer .container .services .container .line {
  border-top: 1px solid #121212;
  margin-left: 10px;
  width: 60%;
}
body .parent footer .container .projects {
  color: #0D0D0D;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 2px 0 2px 2px;
  font-size: 1.2rem;
  text-align: center;
  width: 40%;
}
body .parent footer .container .projects .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body .parent footer .container .projects .container .img {
  aspect-ratio: 16/9;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  padding: 2px;
  width: 12vw;
}
body .parent footer .container .projects .container .links {
  align-items: center;
  border-top: 1px solid #121212;
  color: #0D0D0D;
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  width: 100%;
}
body .parent footer .container .projects .container .links a {
  color: #FFFFFF;
  padding: 4px;
  text-decoration: none;
}
body .parent footer .container .projects .container .links a:hover {
  color: #FFFFFF;
}
body .parent footer .container .contact {
  color: #0D0D0D;
  padding: 5px;
  font-size: 1.2rem;
  text-align: center;
  width: 27vw;
}
body .parent footer .container .contact .title {
  color: #0D0D0D;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 10px;
}
body .parent footer .container .contact .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
body .parent footer .container .contact .form button {
  background-color: #121212;
  border: 1px solid #121212;
  color: #0D0D0D;
  padding: 10px;
  transition: background-color 0.5s;
  transition-delay: 0s;
}
body .parent footer .container .contact .form button:hover {
  background-color: #121212;
  color: #FFFFFF;
}
body .parent footer .container .contact .form input {
  border: 1px solid #121212;
  color: #0D0D0D;
  padding: 10px;
  transition: background-color 0.5s;
  transition-delay: 0s;
  width: 100%;
}
body .parent footer .container .contact .form input:hover {
  border: 1px solid #121212;
  color: #FFFFFF;
}
body .parent footer .container .contact .form textarea {
  border: 1px solid #121212;
  color: #0D0D0D;
  height: 138px;
  padding: 10px;
  transition: background-color 0.5s;
  transition-delay: 0s;
  width: 100%;
}
body .parent footer .container .contact .form textarea:hover {
  border: 1px solid #121212;
  color: #FFFFFF;
}
body .parent footer .container .contact .social {
  align-items: center;
  border-top: 1px solid #121212;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  padding: 5px;
  width: 100%;
}
body .parent footer .container .contact .social .icon {
  border: 1px solid #121212;
  border-radius: 50%;
  color: #0D0D0D;
  font-size: 16px;
  margin: 10px;
  outline: 1px solid #0D0D0D;
  padding: 10px 2px;
  transition: 0.5s;
  transition-delay: 0s;
}
body .parent footer .container .contact .social .icon:hover {
  color: #FFFFFF;
  outline: 1px solid #FFFFFF;
}
body .parent footer .container .contact .social:hover {
  color: #FFFFFF;
}
body .parent footer .container .statement {
  border-top: 1px solid #121212;
  color: #0D0D0D;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  width: 98vw;
}
body .parent footer .container .statement .first {
  display: flex;
  gap: 2px;
  padding: 10px;
  font-size: 12px;
}
body .parent footer .container .statement .first p {
  color: #0D0D0D;
  padding: 2px;
  font-size: 12px;
  text-align: center;
  width: 96vw;
}
body .parent footer .container .statement .first p a {
  color: #0D0D0D;
  text-decoration: none;
}
body .parent footer .container .statement .first p a:hover {
  color: #FFFFFF;
}
body .parent footer .container .statement .last {
  display: flex;
  flex-direction: row;
  gap: 2px;
  padding: 10px;
  font-size: 12px;
}
body .parent footer .container .statement .last .copyright {
  color: #0D0D0D;
  display: flex;
  font-size: 12px;
  justify-content: flex-start;
  padding-left: 10px;
  text-align: center;
  width: 48vw;
}
body .parent footer .container .statement .last .developer {
  align-items: center;
  color: #0D0D0D;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  font-size: 12px;
  text-align: right;
  width: 48vw;
}
body .parent footer .container .statement .last a {
  color: #0D0D0D;
  text-decoration: none;
}
body .parent footer .container .statement .last a:hover {
  color: #FFFFFF;
}

.navbar {
  align-items: flex-start;
  backdrop-filter: blur(30px);
  border: 2px solid RGBA(255, 255, 255, 0.18);
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
  display: flex;
  justify-content: center;
  padding: 0;
  position: fixed;
  top: 1px;
  width: 100%;
  z-index: 11;
}
.navbar .extra {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}
.navbar .extra .account {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
}
.navbar .extra .account button {
  background-color: #1E90FF;
  color: #FFFFFF;
  height: 30px;
  padding: 0 10px;
}
.navbar .extra .account button:hover {
  background-color: #FFFFFF;
  color: #1E90FF;
}
.navbar .extra .search {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
}
.navbar .extra .search button {
  background-color: #FF0099;
  border: 1px solid #0D0D0D;
  border-radius: 50%;
  border-left: none;
  border-right: 10px;
  border-bottom: 10px;
  color: #FFFFFF;
  cursor: pointer;
  height: 30px;
  margin-left: -14px;
  width: 30px;
  transition: background-color 0.5s;
  transition-delay: 0s;
  z-index: 1;
}
.navbar .extra .search button i {
  color: #0D0D0D;
  font-size: 16px;
  transition: 0.5s;
  transition-delay: 0s;
}
.navbar .extra .search button:hover {
  background-color: #004D61;
  color: #121212;
}
.navbar .extra .search button:hover i:hover {
  color: #FFFFFF;
}
.navbar .extra .search input {
  background: transparent;
  border: 1px solid #004D61;
  border-radius: 20px 0 0 20px;
  color: #0D0D0D;
  cursor: pointer;
  height: 12px;
  outline: none;
  padding: 8px 0px 8px 20px;
  width: 180px;
}
.navbar .extra .search input:hover {
  background: #A8DADC;
  color: #004D61;
}
.navbar .logo {
  display: flex;
  filter: drop-shadow(0 2px 8px #0D0D0D);
  height: auto;
  width: 10vw;
}
.navbar .logo img {
  aspect-ratio: 1/1;
  background-image: url(../img/logo/Kush-transparent.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 0 10px;
  width: 60px;
}
.navbar .logo img:hover {
  background-image: url(../img/logo/Kush-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar .nav-links {
  align-items: center;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0 20px;
  margin: 0;
}
.navbar .nav-item .nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
  color: #1E90FF;
  text-decoration: none;
}
.navbar .nav-item .nav-link .icon {
  aspect-ratio: 1/1;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  font-size: 30px;
  position: relative;
  text-align: center;
  transition: transform 0.2s;
  width: 40px;
}
.navbar .nav-item .nav-link .icon i:hover {
  color: #0D0D0D;
}
.navbar .nav-item .nav-link .text {
  display: none;
  font-size: 20px;
  margin-top: 0.25rem;
  margin-left: 10px;
  transition: opacity 0.2s;
}
.navbar .nav-item .nav-link:hover .icon, .navbar .nav-item .nav-link:focus .icon {
  transform: scale(1.1);
}
.navbar .nav-item .nav-link:hover .text, .navbar .nav-item .nav-link:focus .text {
  color: #0D0D0D;
  display: block;
  opacity: 1;
}

@media (max-width: 768px) {
  .navbar .nav-links {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 480px) {
  .navbar .nav-links {
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar .nav-links .nav-link {
    flex-direction: row;
  }
  .navbar .nav-links .nav-link .nav-text {
    margin-top: 0;
    margin-left: 0.5rem;
  }
}