//Variable Declaration
$bg1: #F0F0F0;
$bg2: #E0E0E0;
$bg3: #E4E4E4;
$bg4: #B0B0B0;
$bg5: #888888;
$bg6: #444444;
$bg7: #121212;
$bg8: #F5E8D8;
$bg9: #0f2862;
$bg10: #6B7A8F;
$bg11: #d4d4dc;
$bg12: #393f4d;
$bg13: #1d1e22;

$color1: #121212;
$color2: #FFFFFF;
$color3: #05502c;
$color4: #1E90FF;
$color5: #FF0099;
$color6: #1E90FF;

$hover1: #FFFFFF;
$hover2: #0D0D0D;
$hover3: #4fe657;
$hover4: #004D61;
$hover5: #FF5722;
$hover6: #6B7A8F;

$white: #FFFFFF;
$gray: #f0f0f0;
$dark-gray: #333;
$shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
$border-radius: 12px;