//Variable declaration
$bold-vlight: 900;
$bold-mlight: 700;
$bold-llight: 500;
$bold-slight: 300;

$font-xlarge: 80px;
$font-large: 26px;
$font-medium: 20px;
$font-normal: 16px;
$font-small: 12px;

// Variables

$transition: all 0.3s ease;

$min-width-mobile: 360px;
$min-width-tablet: 600px;
$min-width-desktop: 900px;