//Variable declaration
$bold-vlight: 900;
$bold-mlight: 700;
$bold-llight: 500;
$bold-slight: 300;

$font-xlarge: 80px;
$font-large: 26px;
$font-medium: 20px;
$font-normal: 16px;
$font-small: 12px;

// Variables
$primary-color: #1E90FF;
$secondary-color: #0D0D0D;
$white: #FFFFFF;
$gray: #f0f0f0;
$dark-gray: #333;
$shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
$border-radius: 12px;
$transition: all 0.3s ease;

$min-width-mobile: 360px;
$min-width-tablet: 600px;
$min-width-desktop: 900px;