//Variable declaration
$bg1: #F0F0F0;
$bg2: #E0E0E0;
$bg3: #E4E4E4;
$bg4: #B0B0B0;
$bg5: #888888;
$bg6: #444444;
$bg7: #121212;
$bg8: #F5E8D8;
$bg9: #0f2862;
$bg10: #6B7A8F;
$bg11: #d4d4dc;
$bg12: #393f4d;
$bg13: #1d1e22;

$color1: #0D0D0D;
$color2: #FFFFFF;
$color3: #00FF85;
$color4: #1E90FF;
$color5: #FF0099;

$font-bold: 800;

$font-xlarge: 80px;
$font-large: 26px;
$font-medium: 20px;
$font-normal: 16px;
$font-small: 12px;

$hover1: #FFFFFF;
$hover2: #121212;
$hover3: #A8DADC;
$hover4: #004D61;
$hover5: #FF5722;
