@use "variables" as var;
@use "colors" as col;
@use "mixins" as mix;

.chart-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: clamp(0.125rem, 1vw, 0.25rem);
    height: fit-content;
    margin: clamp(0.125rem, 1vw, 0.25rem);

    .badge-section {
        @include mix.flex-direction(row);
        @include mix.flex-center-flex-start;
        background-color: col.$color2;
        border-radius: clamp(0.25rem, 1vw, 0.5rem);
        flex-wrap: wrap;
        gap: clamp(0.25rem, 1vw, 0.5rem);
        grid-column: span 1 / span 1;
        height: auto;
        padding: clamp(0.1rem, 1vw, 0.2rem) clamp(0.12rem, 1vw, 0.25rem);
        margin: clamp(0.25rem, 1vw, 0.5rem);
        width: 69.5vw;

        .badge {
            @include mix.flex-direction(column);
           // @include mix.flex-center-flex-start;
            @include mix.glass-effect;
            aspect-ratio: 5 / 4;
            background-image: linear-gradient(to bottom, col.$bg6, col.$bg10);
            border-radius: clamp(0.25rem, 1vw, 0.5rem);
            color: col.$color1;
            padding: 0 clamp(0.12rem, 1vw, 0.25rem) clamp(0.12rem, 1vw, 0.25rem) clamp(0.12rem, 1vw, 0.25rem);
            margin: clamp(0.25rem, 1vw, 0.5rem);
            width: clamp(10vw, 1vw, 15vw);

            .one {
                @include mix.flex-direction(row);
                //background-color: col.$bg5;
                margin: clamp(0.5rem, 1vw, 3.5rem);

                i {
                    @include mix.flex-center-flex-end;
                    color: col.$color6;
                    width: 30%;

                    &:hover {
                        color: col.$hover3;
                    }
                }

                h3 {
                    @include mix.flex-start;
                    font-size: clamp(0.45rem, 1vw, 1.5rem);
                    text-align: left;
                    width: 70%;
                }
            }

            .two {
                @include mix.flex-direction(row);
                @include mix.flex-center;
                //margin: clamp(2.5rem, 1vw, 5rem);

                h1 {
                    align-items: center;
                    font-size: clamp(2.5rem, 1vw, 5rem);
                    font-weight: 700;
                    text-align: center;
                    width: 100%;
                }
            }

            .three {
                @include mix.flex-direction(row);
                @include mix.flex-center;

                p {
                    font-size: clamp(0.05rem, 1vw, 0.9rem);
                    text-align: center;
                    width: 100%;
                }
            }

            &:hover {
                background-image: linear-gradient(to top, col.$bg6, col.$bg12);
                color: col.$hover1;
            }
        }

        .graph-section {
            @include mix.flex-direction(row);
            background-color: col.$color3;
            border-radius: clamp(0.25rem, 1vw, 0.5rem);
            gap: clamp(0.25rem, 1vw, 1rem);
            height: clamp(30vh, 1vw, 40vh);
            overflow-x: scroll;
            padding: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem);
            width: 49%;
    
            .graph {
                aspect-ratio: 16 / 9;
                background-color: col.$bg2;
                border-radius: clamp(0.25rem, 1vw, 0.5rem);
                margin: 0 clamp(5rem, 1vw, 7.5rem);
                width: 25vw;
            }
        }
    
        .sales-section {
            @include mix.flex-direction(row);
            @include mix.flex-center;
            background-image: linear-gradient(to top, col.$bg2, col.$bg2);
            border-radius: clamp(0.25rem, 1vw, 0.5rem);
            flex-wrap: wrap;
            overflow-x: scroll;
            padding: clamp(0.1rem, 1vw, 0.25rem);
            margin: clamp(0.2rem, 1vw, 0.3rem) 0;
            width: 49%;

            .revenue {
                @include mix.flex-direction(column);
                @include mix.flex-start;
                background-image: linear-gradient(to bottom, col.$bg4, col.$bg1);
                border-right: clamp(0.05rem, 1vw, 0.1rem) solid col.$color1;
                border-radius: clamp(0.25rem, 1vw, 0.5rem);
                height: auto;
                margin: clamp(0.12rem, 1vw, 0.3rem) 0;
                width: 50%;

                .row {
                    @include mix.flex-direction(row);
                    @include mix.flex-center;
                    width: 100%;
                }

                h1 {
                    background-image: linear-gradient(to top, col.$bg7, col.$bg4);
                    border-radius: clamp(0.25rem, 1vw, 0.5rem);
                    font-size: clamp(0.5rem, 1vw, 0.9rem);
                    font-weight: 700;
                    padding: clamp(0.7rem, 1vw, 0.25rem) clamp(0.7rem, 1vw, 0.25rem);
                    width: 100%;
                }    

                p {
                    font-size: clamp(0.5rem, 1vw, 0.9rem);
                    font-weight: 500;
                    padding: clamp(0.7rem, 1vw, 0.25rem) clamp(0.7rem, 1vw, 0.25rem);
                    width: 100%;
                }

                h2 {
                    font-size: clamp(0.5rem, 1vw, 0.9rem);
                    font-weight: 300;
                    padding: clamp(0.7rem, 1vw, 0.25rem) clamp(0.7rem, 1vw, 0.25rem);
                    width: 20%;
                }    
            }

            .expenses {
                @include mix.flex-direction(column);
                @include mix.flex-start;
                background-image: linear-gradient(to bottom, col.$bg3, col.$bg7);
                border-right: clamp(0.05rem, 1vw, 0.1rem) solid col.$color1;
                border-radius: clamp(0.25rem, 1vw, 0.5rem);
                height: auto;
                width: 50%;

                .row {
                    @include mix.flex-direction(row);
                    @include mix.flex-center;
                    width: 100%;
                }

                h1 {
                    background-image: linear-gradient(to top, col.$bg7, col.$bg3);
                    border-radius: clamp(0.25rem, 1vw, 0.5rem);
                    font-size: clamp(0.5rem, 1vw, 0.9rem);
                    font-weight: 700;
                    padding: clamp(0.7rem, 1vw, 0.25rem) clamp(0.7rem, 1vw, 0.25rem);
                    width: 100%;
                }    

                p {
                    font-size: clamp(0.5rem, 1vw, 0.9rem);
                    font-weight: 500;
                    padding: clamp(0.7rem, 1vw, 0.25rem) clamp(0.7rem, 1vw, 0.25rem);
                    width: 100%;
                }

                h2 {
                    font-size: clamp(0.5rem, 1vw, 0.9rem);
                    font-weight: 300;
                    padding: clamp(0.7rem, 1vw, 0.25rem) clamp(0.7rem, 1vw, 0.25rem);
                    width: 20%;
                }    
            }
        }
    
        .finance-section {
            @include mix.flex-direction(column);
            @include mix.flex-center;
            background-color: col.$bg7;
            flex-wrap: wrap;
            overflow-x: scroll;
            padding: 0 clamp(0.12rem, 1vw, 0.25rem) 0 clamp(0.12rem, 1vw, 0.25rem);
            margin: clamp(0.12rem, 1vw, 0.3rem) 0;
            width: 60%;
    
            .finance {
                aspect-ratio: 16 / 9;
                background-color: col.$bg2;
                border-radius: clamp(0.25rem, 1vw, 0.5rem);
                width: 25vw;
            }
        }
    
        .chart-section {
            @include mix.flex-direction(row);
            @include mix.flex-center;
            @include mix.glass-effect;
            background-color: col.$bg6;
            height: clamp(30vh, 1vw, 40vh);
            overflow-x: scroll;
    
            .chart {
                aspect-ratio: 16 / 9;
                background-color: col.$bg2;
                border-radius: clamp(0.25rem, 1vw, 0.5rem);
                width: 15vw;
            }
        }
    }

    .report-section {
        @include mix.flex-direction(row);
        @include mix.flex-center-flex-end;
        @include mix.glass-effect;
        background-color: col.$bg2;
        border-radius: clamp(0.25rem, 1vw, 0.5rem);
        color: col.$color1;            
        flex-wrap: wrap;
        gap: clamp(0.25rem, 1vw, 0.5rem);
        height: auto;
        padding: 0 clamp(0.12rem, 1vw, 0.25rem) clamp(0.12rem, 1vw, 0.25rem) clamp(0.12rem, 1vw, 0.25rem);
        margin: clamp(0.25rem, 1vw, 0.5rem);
        width: 14vw;

        .report {
            aspect-ratio: 16 / 9;
            background-image: linear-gradient(to left, col.$bg6, col.$bg10);
            border-radius: clamp(0.25rem, 1vw, 0.5rem);
            width: clamp(17rem, 1vw, 10rem);

            .cur {
                font-size: clamp(1rem, 1vw, 1.5rem);
                font-weight: 900;
                padding: 0 clamp(0.5rem, 1vw, 1rem);
                text-align: center;
                width: 100%;
            }

            .one {
                @include mix.flex-direction(row);
                @include mix.flex-center-flex-end;
                padding: clamp(0.12rem, 1vw, 0.25rem);

                i {
                    color: col.$color6;
                    width: 30%;

                    &:hover {
                        color: col.$hover3;
                    }
                }

                h1 {
                    //color: col.$color8;
                    font-size: clamp(0.25rem, 1vw, 1.5rem);
                    font-weight: 700;
                    text-align: left;
                    width: 70%;
                }
            }

            .two {
                @include mix.flex-direction(row);
                padding: clamp(0.12rem, 1vw, 0.25rem);

                h2 {
                    font-size: clamp(1rem, 1vw, 3rem);
                    font-weight: 500;
                    text-align: left;
                    text-indent: 0.05rem;
                    width: 100%;
                }

                p {
                    color: col.$color1;
                    font-size: clamp(1.5rem, 1vw, 3rem);
                    font-weight: 700;
                    text-align: center;
                    width: 100%;
                }
            }

            .three {
                @include mix.flex-direction(row);
                padding: clamp(0.12rem, 1vw, 0.25rem);

                h2 {
                    font-size: clamp(1rem, 1vw, 3rem);
                    font-weight: 500;
                    text-align: left;
                    text-indent: 0.05rem;
                    width: 100%;
                }

                p {
                    color: col.$color3;
                    font-size: clamp(1.5rem, 1vw, 3rem);
                    font-weight: 700;
                    text-align: center;
                    width: 100%;
                }
            }

            .four {
                @include mix.flex-direction(row);
                padding: clamp(0.12rem, 1vw, 0.25rem);

                h2 {
                    font-size: clamp(1rem, 1vw, 3rem);
                    font-weight: 500;
                    text-align: left;
                    text-indent: 0.05rem;
                    width: 100%;
                }

                p {
                    color: col.$color9;
                    font-size: clamp(1.5rem, 1vw, 3rem);
                    font-weight: 700;
                    text-align: center;
                    width: 100%;
                }
            }

            &:hover, p::after, h2::after {
                background-image: linear-gradient(to right, col.$bg6, col.$bg12, col.$bg10);
                color: col.$hover1;
            }
        }
    }

}

.canvas-wrap {
    max-width: 800px;
    width: 100%;
}
  
.canvas-responsive {
    aspect-ratio: 16 / 9; /* keeps 16:9 */
    display: block;
    height: auto;
    width: clamp(40rem, 1vw, 50rem);
}