@use "variables" as var;
@use "colors" as col;
@use "mixins" as mix;

.chart-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: clamp(0.125rem, 1vw, 0.25rem);
    height: fit-content;
    margin: clamp(0.125rem, 1vw, 0.25rem);

    .badge-section {
        @include mix.flex-direction(row);
        @include mix.flex-center-flex-start;
        background-color: col.$color2;
        border-radius: clamp(0.25rem, 1vw, 0.5rem);
        flex-wrap: wrap;
        gap: clamp(0.25rem, 1vw, 0.5rem);
        grid-column: span 1 / span 1;
        height: auto;
        padding: clamp(0.1rem, 1vw, 0.2rem) clamp(0.12rem, 1vw, 0.25rem);
        margin: clamp(0.25rem, 1vw, 0.5rem);
        width: 69.5vw;

        .badge {
            @include mix.flex-direction(column);
           // @include mix.flex-center-flex-start;
            @include mix.glass-effect;
            aspect-ratio: 5 / 4;
            background-color: col.$bg10;
            border-radius: clamp(0.25rem, 1vw, 0.5rem);
            color: col.$color1;
            padding: 0 clamp(0.12rem, 1vw, 0.25rem) clamp(0.12rem, 1vw, 0.25rem) clamp(0.12rem, 1vw, 0.25rem);
            margin: clamp(0.25rem, 1vw, 0.5rem);
            width: clamp(10vw, 1vw, 15vw);

            .one {
                @include mix.flex-direction(row);
                //background-color: col.$bg5;
                margin: clamp(0.5rem, 1vw, 3.5rem);

                i {
                    @include mix.flex-center-flex-end;
                    color: col.$color4;
                    width: 30%;

                    &:hover {
                        color: col.$hover3;
                    }
                }

                h3 {
                    @include mix.flex-start;
                    font-size: clamp(0.45rem, 1vw, 1.5rem);
                    text-align: left;
                    width: 70%;
                }
            }

            .two {
                @include mix.flex-direction(row);
                @include mix.flex-center;
                //margin: clamp(2.5rem, 1vw, 5rem);

                h1 {
                    align-items: center;
                    font-size: clamp(2.5rem, 1vw, 5rem);
                    font-weight: 700;
                    text-align: center;
                    width: 100%;
                }
            }

            .three {
                @include mix.flex-direction(row);
                @include mix.flex-center;

                p {
                    font-size: clamp(0.05rem, 1vw, 0.9rem);
                    text-align: center;
                    width: 100%;
                }
            }

            &:hover {
                background-color: col.$color5;
                color: col.$hover1;
            }
        }

        .graph-section {
            @include mix.flex-direction(row);
            background-color: col.$color3;
            border-radius: clamp(0.25rem, 1vw, 0.5rem);
            gap: clamp(0.25rem, 1vw, 1rem);
            height: 27.5vh;
            overflow-x: scroll;
            padding: clamp(0.25rem, 1vw, 0.5rem) clamp(0.125rem, 1vw, 0.25rem);
            //margin: clamp(0.25rem, 1vw, 0.5rem);
            width: 49%;
    
            .graph {
                aspect-ratio: 16 / 9;
                background-color: col.$bg2;
                border-radius: clamp(0.25rem, 1vw, 0.5rem);
                width: 25vw;
            }
        }
    
        .extra-section {
            @include mix.flex-direction(column);
            @include mix.flex-center;
            background-color: col.$bg4;
            flex-wrap: wrap;
            overflow-x: scroll;
            padding: 0 clamp(0.12rem, 1vw, 0.25rem) 0 clamp(0.12rem, 1vw, 0.25rem);
            margin: clamp(0.12rem, 1vw, 0.3rem) 0;
            width: 49%;

            .extra {
                aspect-ratio: 16 / 9;
                background-color: col.$bg2;
                border-radius: clamp(0.25rem, 1vw, 0.5rem);
                width: 24vw;
            }
        }
    
        .finance-section {
            @include mix.flex-direction(column);
            @include mix.flex-center;
            background-color: col.$bg7;
            flex-wrap: wrap;
            overflow-x: scroll;
            padding: 0 clamp(0.12rem, 1vw, 0.25rem) 0 clamp(0.12rem, 1vw, 0.25rem);
            margin: clamp(0.12rem, 1vw, 0.3rem) 0;
            width: 60%;
    
            .finance {
                aspect-ratio: 16 / 9;
                background-color: col.$bg2;
                border-radius: clamp(0.25rem, 1vw, 0.5rem);
                width: 25vw;
            }
        }
    
        .chart-section {
            @include mix.flex-direction(row);
            @include mix.flex-center;
            @include mix.glass-effect;
            background-color: col.$bg6;
    
            .chart {
                aspect-ratio: 16 / 9;
                background-color: col.$bg2;
                border-radius: clamp(0.25rem, 1vw, 0.5rem);
                width: 25vw;
            }
        }
    }

    .report-section {
        @include mix.flex-direction(row);
        @include mix.flex-end;
        @include mix.glass-effect;
        background-color: col.$bg2;
        border-radius: clamp(0.25rem, 1vw, 0.5rem);
        color: col.$color1;            
        flex-wrap: wrap;
        gap: clamp(0.25rem, 1vw, 0.5rem);
        height: auto;
        padding: 0 clamp(0.12rem, 1vw, 0.25rem) clamp(0.12rem, 1vw, 0.25rem) clamp(0.12rem, 1vw, 0.25rem);
        margin: clamp(0.25rem, 1vw, 0.5rem);
        width: 14vw;

        .report {
            aspect-ratio: 16 / 9;
            background-color: col.$bg5;
            border-radius: clamp(0.25rem, 1vw, 0.5rem);
            width: clamp(8rem, 1vw, 10rem);

            .one {
                @include mix.flex-direction(row);

                i {
                    color: col.$color4;
                    width: 30%;

                    &:hover {
                        color: col.$hover3;
                    }
                }

                h3 {
                    font-size: clamp(0.25rem, 1vw, 1.5rem);
                    text-align: left;
                    width: 70%;
                }
            }

            .two {
                @include mix.flex-direction(row);

                h1 {
                    font-size: clamp(1.5rem, 1vw, 3rem);
                    font-weight: 700;
                    text-align: left;
                    width: 100%;
                }
            }

            .three {
                @include mix.flex-direction(row);

                p {
                    font-size: clamp(0.1rem, 1vw, 0.75rem);
                    text-align: center;
                    width: 100%;
                }
            }

            &:hover {
                background-color: col.$color5;
                color: col.$hover1;
            }
        }
    }

}

.canvas-wrap {
    max-width: 800px;
    width: 100%;
}
  
.canvas-responsive {
    aspect-ratio: 16 / 9; /* keeps 16:9 */
    display: block;
    height: auto;
    width: clamp(50rem, 1vw, 50rem);
}