@use "variables" as var;
@use "colors" as col;
@use "mixins" as mix;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url("images/bg.jpg") #030728 no-repeat center;
}

@media screen and (min-width: 0px) {
    .container {
        display: grid;
        gap: 0.25rem;
        grid-template-areas: 'header' 'nav' 'main' 'widget' 'footer';
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 6rem auto 6rem 6rem 4rem;
        height: 100vh;

        .header {
            @include mix.flex-direction(row);
            @include mix.flex-center-space-between;
            @include mix.glass-effect;
            background-color: blueviolet;
            grid-area: header;
        }

        .nav {
            @include mix.flex-direction(column);
            @include mix.flex-center;
            @include mix.glass-effect;
            background-color: yellowgreen;
            grid-area: nav;
        }

        .main {
            @include mix.glass-effect;
            background-color: gainsboro;
            grid-area: main;
        }

        .widget {
            @include mix.glass-effect;
            background-color: red;
            grid-area: widget;
        }

        .footer {
            @include mix.glass-effect;
            background-color: green;
            grid-area: footer;
        }
    }
}

@media screen and (min-width: 480px) {
    .container {
        display: grid;
        grid-template-areas:    'nav header header header header header header header header header' 
                                'nav main main main main main main main main main'
                                'nav footer footer footer footer footer footer footer footer footer';
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 9vh 4vh 90vh 5vh;
        //height: 100vh;

        .nav {
            @include mix.flex-direction(column);
            @include mix.flex-start;
            @include mix.glass-effect;
            background-color: col.$bg6;
            border-radius: 1rem 0 0 1rem;
            grid-area: nav;
            height: 98vh;
            left: 0;
            margin: clamp(0.1rem, 1vw, 0.5rem) 0 clamp(0.1rem, 1vw, 0.5rem) clamp(0.1rem, 1vw, 0.5rem);
            //overflow: hidden;
            position: fixed;  // Stays visible when scrolling
            top: 0;
            width: 12.5vw;
            z-index: 100;

            .nav-menu {
                @include mix.flex-direction(column);
                @include mix.flex-start;
                overflow-y: scroll;
                padding: clamp(0.35rem, 1vw, 0.75rem) clamp(0.1rem, 1vw, 0.5rem);

                label {
                    color: col.$color2;
                    font-size: clamp(0.35rem, 1vw, 0.75rem);
                    font-weight: 500;
                    margin: clamp(0.1rem, 1vw, 0.5rem) clamp(0.1rem, 1vw, 0.5rem) 0 clamp(0.1rem, 1vw, 0.5rem);
                    text-transform:uppercase;
                }

                .logo {
                    @include mix.flex-center;
                    @include mix.flex-direction(row);

                    .img {                    
                        aspect-ratio: 1 / 1;
                        width: clamp(2rem, 1vw, 4rem);
                    }
                }
            }

            .nav-user {
                @include mix.flex-direction(column);
                @include mix.flex-centre-flex-start;
                background-color: col.$bg10;
                width: 12vw;

                .icon {
                    @include mix.flex-direction(column);
                    @include mix.flex-center;

                    .img {
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                        width: clamp(1.8rem, 1vw, 2.5rem);
                    }
                }

                .user {
                    @include mix.flex-direction(column);
                    @include mix.flex-center;

                    .button {
                        padding: clamp(0.9rem, 1vw, 1.5rem);
                        transition: width 2s;
                        width: clamp(0.6rem, 1vw, 1rem);

                        a {
                            text-decoration: none;
                        }

                        &:hover {
                            background-color: col.$color2;
                            width: clamp(0.6rem, 1vw, 1rem);
                        }
                    }

                    .name {
                        color: col.$color1;
                        font-size: clamp(0.6rem, 1vw, 1rem);
                    }

                    .profession {
                        color: col.$color2;
                        font-size: clamp(0.6rem, 1vw, 1rem);
                    }
                }
            }
        }

        .header {
            @include mix.glass-effect;
            background-color: col.$bg6;
            border-radius: 0 clamp(0.6rem, 1vw, 1rem) 0 0;
            grid-area: header;
            margin: clamp(0.1rem, 1vw, 0.5rem) clamp(0.1rem, 1vw, 0.5rem) 0 0;
            position: fixed;  // Stays visible when scrolling
            top: 0;
            right: 0;
            width: 85.8vw;
            z-index: 100;

            .header-menu {
                @include mix.flex-direction(row);
                @include mix.flex-center;

                .main-links {
                    @include mix.flex-direction(row);
                    @include mix.flex-center;
    
                    
                }
    
                .extra-links {
                    @include mix.flex-direction(row);
                    @include mix.flex-center;
                }
            }
        }

        .main {
            @include mix.glass-effect;
            background-color: rgb(185, 236, 66);
            
            grid-area: main;
            height: 74vh;
            margin: 0 clamp(0.1rem, 1vw, 0.5rem) 0 0;
            overflow-y: scroll;
            position: fixed;  // Stays visible when scrolling
            right: 0;
            width: 85.8vw;
            z-index: 100;
        }

        .footer {
            @include mix.glass-effect;
            background-color: rgb(207, 40, 104);
            border-radius: 0 0 1rem 0;
            bottom: 0;
            grid-area: footer;
            margin: 0 0.5rem 0.5rem 0;
            padding: clamp(0.6rem, 1vw, 1rem);
            position: fixed;  // Stays visible when scrolling
            right: 0;
            width: 85.8vw;
            z-index: 100;

            .footer-links {
                @include mix.flex-direction(column);
                @include mix.flex-center;
            }

            .footer-copyright {
                @include mix.flex-direction(column);
                @include mix.flex-center;
            }

            .footer-social {
                @include mix.flex-direction(column);
                @include mix.flex-center;
            }
        }
    }
}