@use "variables" as var;
@use "colors" as col;
@use "mixins" as mix;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url("images/bg.jpg") #030728 no-repeat center;
}

@media screen and (min-width: 0px) {
    .container {
        display: grid;
        gap: 0.25rem;
        grid-template-areas: 'header' 'nav' 'main' 'widget' 'footer';
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 6rem auto 6rem 6rem 4rem;
        height: 100vh;

        .header {
            @include mix.flex-direction(row);
            @include mix.flex-center-space-between;
            @include mix.glass-effect;
            background-color: blueviolet;
            grid-area: header;
        }

        .nav {
            @include mix.flex-direction(column);
            @include mix.flex-center;
            @include mix.glass-effect;
            background-color: yellowgreen;
            grid-area: nav;
        }

        .main {
            @include mix.glass-effect;
            background-color: gainsboro;
            grid-area: main;
        }

        .widget {
            @include mix.glass-effect;
            background-color: red;
            grid-area: widget;
        }

        .footer {
            @include mix.glass-effect;
            background-color: green;
            grid-area: footer;
        }
    }
}

@media screen and (min-width: 480px) {
    .container {
        display: grid;
        grid-template-areas:    'nav header header header header header header header header header' 
                                'nav main main main main main main main main main'
                                'nav footer footer footer footer footer footer footer footer footer';
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 5vh 90vh 5vh;
        //height: 100vh;

        .nav {
            @include mix.flex-direction(column);
            @include mix.flex-start;
            @include mix.glass-effect;
            background-color: col.$bg6;
            border-radius: 1rem 0 0 1rem;
            grid-area: nav;
            height: 98.5vh;
            left: 0;
            margin: 0.5rem 0 0.5rem 0.5rem;
            overflow-y: scroll;
            position: fixed;  // Stays visible when scrolling
            top: 0;
            z-index: 100;

            .nav-menu {
                @include mix.flex-direction(column);
                @include mix.flex-start;
                padding: 0.75rem 0.5rem;

                label {
                    color: col.$color2;
                    font-size: 0.75rem;
                    font-weight: 500;
                    margin: 1rem 1rem 0 1rem;
                    text-transform:uppercase;
                }

                .logo {
                    @include mix.flex-center;
                    @include mix.flex-direction(row);

                    .img {                    
                        aspect-ratio: 1 / 1;
                        width: 4rem;
                    }
                }
            }

            .nav-user {
                @include mix.flex-direction(column);
                @include mix.flex-center;

                .icon {
                    @include mix.flex-direction(column);
                    @include mix.flex-center;

                    .img {
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                        width: 2rem;
                    }
                }

                .user {
                    @include mix.flex-direction(column);
                    @include mix.flex-center;

                    .button {
                        padding: 1rem;
                        width: 100%;

                        a {
                            text-decoration: none;
                        }
                    }

                    .name {
                        color: col.$color1;
                        font-size: 0.75rem;
                    }

                    .profession {
                        color: col.$color2;
                        font-size: 0.75rem;
                    }
                }
            }
        }

        .header {
            @include mix.glass-effect;
            background-color: col.$bg6;
            border-radius: 0 1rem 0 0;
            grid-area: header;
            margin: 0.5rem 0.5rem 0 0;
            position: fixed;  // Stays visible when scrolling
            top: 0;
            right: 0;
            width: 87.5%;
            z-index: 99;

            .header-menu {
                @include mix.flex-direction(column);
                @include mix.flex-center;

                .main-links {
                    @include mix.flex-direction(row);
                    @include mix.flex-center;
    
                    
                }
    
                .extra-links {
                    @include mix.flex-direction(row);
                    @include mix.flex-center;
                }
            }
        }

        .main {
            @include mix.glass-effect;
            background-color: rgb(185, 236, 66);
            
            grid-area: main;
            height: 74vh;
            margin: 0 0.5rem 0 0;
            overflow-y: scroll;
            position: fixed;  // Stays visible when scrolling
            right: 0;
            width: 87.5%;
            z-index: 99;
        }

        .footer {
            @include mix.glass-effect;
            background-color: rgb(207, 40, 104);
            border-radius: 0 0 1rem 0;
            bottom: 0;
            grid-area: footer;
            margin: 0 0.5rem 0.5rem 0;
            padding: 1rem;
            position: fixed;  // Stays visible when scrolling
            right: 0;
            width: 87.5%;
            z-index: 100;

            .footer-links {
                @include mix.flex-direction(column);
                @include mix.flex-center;
            }

            .footer-copyright {
                @include mix.flex-direction(column);
                @include mix.flex-center;
            }

            .footer-social {
                @include mix.flex-direction(column);
                @include mix.flex-center;
            }
        }
    }
}


.list {
    list-style-type: none;
    padding-left: 20px;

    .item {
        @include mix.flex-direction(row);
        padding: 0.5rem 0;

        i {
            color: col.$color6;
            margin: 0 0 0 0.4rem;
        }

        /* Hide the checkbox input */
        input[type="checkbox"] {
            display: none;
    
            /* Hide the nested ul by default */
            &~ .list {
                display: none;
                padding-left: 15px;
                font-size: 0.9rem;
                list-style-type: none;
            }
            
            /* Show the nested ul when the checkbox is checked */
            &:checked ~ .list {
                display: block;
                list-style-type: none;
            }
        }

        /* Style the label as a clickable link */
        label {
            color: col.$color1;
            text-decoration: none;
            cursor: pointer;
            user-select: none;
        
            &::after {
                color: col.$hover1;
                text-decoration: underline;
                user-select: contain;
            }
        }

        .text {
            color: col.$color2;
            margin: 0 0.4rem 0 0;

            &:hover {
                color: col.$hover3;
            }
        }
    }
                        
}

.list-menu {
    position: relative;
    width: 100%;

    .list-toggle {
        background: none;
        border: none;
        color: inherit;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font: inherit;
        cursor: pointer;
        //padding: 0.5rem 0;
        transition: background 0.2s;
    
        .list-toggle:hover,
        .list-toggle[aria-expanded="true"] {
            background: rgba(0,0,0,0.05);
        }

        list-arrow {
            margin-left: auto;
            transition: transform 0.2s;
        }

        .mini-list {
            margin: 0.25rem 0 0 1.5rem;
            padding: 0;
            list-style: none;
            background: none;
            border-left: 2px solid #eee;
            transition: max-height 0.2s;
        
            .item {
                padding: 0.25rem 0;
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }
}

