@use "variables" as var;
@use "colors" as col;
@use "mixins" as mix;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url("images/bg.jpg") #030728 no-repeat center;
}

@media screen and (max-width: 768px) {
    .container {
        display: grid;
        gap: clamp(0.12rem, 1vw, 0.25rem);
        grid-template-areas: 'header' 'nav' 'main' 'widget' 'footer';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        //grid-template-rows: clamp(2rem, 1vw, 4rem) clamp(3rem, 1vw, 6rem) auto clamp(3rem, 1vw, 6rem) clamp(3rem, 1vw, 6rem) clamp(2rem, 1vw, 4rem);
        height: 100vh;

        .header {
            @include mix.flex-direction(row);
            @include mix.flex-center-space-between;
            @include mix.glass-effect;
            background-color: col.$bg6;
            border-radius: clamp(0.5rem, 1vw, 1rem) clamp(0.5rem, 1vw, 1rem) 0 0;
            grid-area: header;
            height: auto; //12.5vw;
            margin: 0 clamp(0.5rem, 1vw, 1rem) 0 clamp(0.5rem, 1vw, 1rem);
            //margin: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem) 0 0;
            position: fixed;  // Stays visible when scrolling
            top: 0;
            width: 99vw;
            z-index: 100;

            .header-menu {
                @include mix.flex-direction(row);
                @include mix.flex-center;
                background-color: col.$bg1;
                border-radius: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem) 0 0;
                margin: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem);
                padding: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem);
                width: 100%;

                .main-links {
                    @include mix.flex-direction(row);
                    @include mix.flex-center;
                    padding: 0 clamp(0.25rem, 1vw, 0.5rem);
    
                    a {
                        color: col.$color2;
                        padding: 0 clamp(0.25rem, 1vw, 0.5rem) 0 clamp(0.25rem, 1vw, 2.5rem);

                        &:hover {
                            color: col.$color6;
                        }
                    }
                }
    
                .extra-links {
                    @include mix.flex-direction(row);
                    @include mix.flex-center-flex-end;
                    padding: 0 clamp(0.25rem, 1vw, 0.5rem) 0 clamp(25vw, 1vw, 30vw);
    
                    a {
                        color: col.$color2;
                        padding: 0 clamp(0.25rem, 1vw, 0.5rem) 0 clamp(0.25rem, 1vw, 2.5rem);

                        &:hover {
                            color: col.$color6;
                        }
                    }
                }
            }
        }

        .nav {
            @include mix.flex-direction(row);
            @include mix.flex-center;
            @include mix.glass-effect;
            background-color: col.$bg5;
            border-radius: clamp(0.5rem, 1vw, 1rem) 0 0 clamp(0.5rem, 1vw, 1rem);
            grid-area: nav;
            height: 98vh;
            left: 0;
            margin: 0 clamp(0.5rem, 1vw, 0.5rem) 0 clamp(0.5rem, 1vw, 0.5rem);
            //overflow: hidden;
            //position: fixed;  // Stays visible when scrolling
            top: 0;
            width: 100vw;
            z-index: 99;

            .nav-logo {
                @include mix.flex-direction(column);
                @include mix.flex-center-flex-start;
                background-color: col.$bg10;
                border-radius: clamp(0.15rem, 1vw, 0.3rem);
                box-shadow: clamp(0.15rem, 1vw, 0.3rem) rgb(219, 65, 124);
                display: none;
                height: auto; //10%;
                margin: clamp(0.2rem, 1vw, 0.4rem);
                width: auto; //clamp(10.6vw, 1vw, 12.5vw);

                .img {                    
                    aspect-ratio: 1 / 1;
                    width: clamp(4rem, 1vw, 8rem);
                }
            }

            .nav-menu {
                @include mix.flex-direction(row);
                @include mix.flex-start;
                height: 72%;
                overflow-y: scroll;
                padding: clamp(0.3rem, 1vw, 0.6rem) clamp(0.25rem, 1vw, 0.5rem);

                label {
                    color: col.$color2;
                    display: none;
                    font-size: clamp(0.3rem, 1vw, 0.6rem);
                    font-weight: 500;
                    margin: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem) 0 clamp(0.25rem, 1vw, 0.5rem);
                    text-transform:uppercase;
                }
            }

            .nav-user {
                @include mix.flex-direction(row);
                @include mix.flex-center-flex-end;
                background-color: col.$bg10;
                border-radius:  0 clamp(0.37rem, 1vw, 0.75rem) clamp(0.37rem, 1vw, 0.75rem) 0;
                box-shadow: clamp(0.15rem, 1vw, 0.3rem) rgb(219, 65, 124);
                height: auto;
                margin: clamp(0.2rem, 1vw, 0.4rem);
                width: 98vw; //clamp(10.6vw, 1vw, 12.5vw);

                .icon {
                    @include mix.flex-direction(column);
                    @include mix.flex-center;

                    .img {
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                        margin: clamp(0.25rem, 1vw, 0.5rem);
                        width: clamp(2rem, 1vw, 2.5rem);
                    }
                }

                .user {
                    @include mix.flex-direction(row);
                    @include mix.flex-center;

                    .name {
                        @include mix.flex-direction(column);
                        @include mix.flex-center;
                        color: col.$color1;
                        font-size: clamp(0.5rem, 1vw, 1rem);
                        text-align: center;
                        text-overflow: inherit;
                    }

                    .profession {
                        @include mix.flex-direction(column);
                        @include mix.flex-center;
                        color: col.$color2;
                        text-align: center;
                        font-size: clamp(0.5rem, 1vw, 1rem);
                    }
                }
            }

        }

        .main {
            @include mix.glass-effect;
            background-color: col.$bg3;
            grid-area: main;
            height: auto;
            margin: 0 clamp(0.5rem, 1vw, 0.5rem) 0 clamp(0.5rem, 1vw, 0.5rem);
            padding: clamp(0.25rem, 1vw, 0.5rem);
            //overflow-y: scroll;
            //position: fixed;  // Stays visible when scrolling
            width: 98vw;
            z-index: 99;

            .main-badges {
                @include mix.flex-direction(column);
                @include mix.flex-center-flex-start;
                @include mix.glass-effect;
            }

            .main-charts {
                @include mix.flex-direction(row);
                @include mix.flex-center;
                @include mix.glass-effect;
            }
        }

        .widget {
            @include mix.glass-effect;
            background-color: red;
            grid-area: widget;
        }

        .footer {
            @include mix.flex-direction(column);
            @include mix.flex-center;
            @include mix.glass-effect;
            background-color: col.$bg9;
            border-radius: 0 0 0.5rem 0.5rem;
            border-radius: 0 0 clamp(0.5rem, 1vw, 0.75rem) clamp(0.5rem, 1vw, 0.75rem);
            bottom: 0;
            grid-area: footer;
            margin: 0 clamp(0.5rem, 1vw, 1rem) 0 clamp(0.5rem, 1vw, 1rem);
            padding: clamp(0.25rem, 1vw, 0.5rem);
            //position: fixed;  // Stays visible when scrolling
            width: 99vw;
            z-index: 99;

            .footer-divide1 {
                @include mix.flex-direction(column);
                @include mix.flex-center;
                border: 0.1rem solid col.$color1;
                border-radius: 0;
                padding: clamp(0.1rem, 1vw, 0.25rem);
                margin: clamp(0.1rem, 1vw, 0.2rem);
                width: 100%;

                .footer-copyright {
                    @include mix.flex-direction(row);
                    @include mix.flex-center;
                    padding: clamp(0.1rem, 1vw, 0.25rem);
                    width: 100%;

                    p {
                        color: col.$color1;
                        font-size: clamp(0.6rem, 1vw, 1.2rem);
                        padding: clamp(0.1rem, 1vw, 0.25rem);
                        text-align: center;
                    
                        a {
                            color: col.$color1;
                            font-size: clamp(0.6rem, 1vw, 1.2rem);
                            padding: clamp(0.01rem, 1vw, 0.02rem);
                            text-decoration: none;

                            &:hover {
                                color: col.$hover1;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .footer-statement {
                    @include mix.flex-direction(row);
                    @include mix.flex-center;
                    padding: clamp(0.01rem, 1vw, 0.02rem);
                    width: 100%;

                    p {
                        color: col.$color1;
                        font-size: clamp(0.6rem, 1vw, 1rem);
                        padding: clamp(0.1rem, 1vw, 0.25rem);
                        text-align: center;
                    
                        a {
                            color: col.$color1;
                            font-size: clamp(0.4rem, 1vw, 0.8rem);
                            padding: clamp(0.1rem, 1vw, 0.25rem);
                            text-decoration: none;

                            &:hover {
                                color: col.$hover1;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                hr {
                    border: 0.12rem solid col.$bg6;
                    margin: clamp(0.2rem, 1vw, 0.4rem);
                    width: 80%;
                }
            }

            .footer-divide2 {
                @include mix.flex-direction(column);
                @include mix.flex-center;
                border: 0.1rem solid col.$color1;
                border-radius: 0 0 0.5rem 0.5rem;
                height: auto;
                padding: clamp(0.1rem, 1vw, 0.25rem);
                margin: clamp(0.1rem, 1vw, 0.2rem);
                width: 100%;

                .footer-links {
                    @include mix.flex-direction(row);
                    @include mix.flex-center;
                    width: 100%;
    
                    a {
                        color: col.$color1;
                        font-size: clamp(0.7rem, 1vw, 1.2rem);
                        padding: clamp(0.1rem, 1vw, 0.25rem);
                        text-decoration: none;
    
                        &:hover {
                            color: col.$hover1;
                            text-decoration: underline;
                        }
                    }
                }
    
                .footer-social {
                    @include mix.flex-direction(row);
                    @include mix.flex-center;
                    height: auto;
                    width: 100%;
    
                    a {
                        color: col.$color1;
                        font-size: clamp(0.7rem, 1vw, 1.2rem);
                        padding: clamp(0.1rem, 1vw, 0.2rem);
                        text-decoration: none;
    
                        &:hover {
                            color: col.$hover1;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-areas:    'nav header header header header header header header header header' 
                                'nav main main main main main main main main main'
                                'nav footer footer footer footer footer footer footer footer footer';
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 9vh auto 90vh 5vh;
        //height: 100vh;

        .nav {
            @include mix.flex-direction(column);
            @include mix.flex-start;
            @include mix.glass-effect;
            background-color: col.$bg6;
            border-radius: clamp(0.5rem, 1vw, 1rem) 0 0 clamp(0.5rem, 1vw, 1rem);
            grid-area: nav;
            height: 98vh;
            left: 0;
            margin: clamp(0.25rem, 1vw, 0.5rem) 0 clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem);
            //overflow: hidden;
            position: fixed;  // Stays visible when scrolling
            top: 0;
            width: 12.5vw;
            z-index: 100;

            .nav-logo {
                @include mix.flex-direction(column);
                @include mix.flex-center-flex-start;
                background-color: col.$bg10;
                border-radius: clamp(0.15rem, 1vw, 0.3rem);
                box-shadow: clamp(0.15rem, 1vw, 0.3rem) rgb(219, 65, 124);
                height: 10%;
                margin: clamp(0.2rem, 1vw, 0.4rem);
                width: clamp(10.6vw, 1vw, 12.5vw);

                .img {                    
                    aspect-ratio: 1 / 1;
                    width: clamp(4rem, 1vw, 8rem);
                }
            }

            .nav-menu {
                @include mix.flex-direction(column);
                @include mix.flex-start;
                height: 72%;
                overflow-y: scroll;
                padding: clamp(0.3rem, 1vw, 0.6rem) clamp(0.25rem, 1vw, 0.5rem);

                label {
                    color: col.$color2;
                    font-size: clamp(0.3rem, 1vw, 0.6rem);
                    font-weight: 500;
                    margin: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem) 0 clamp(0.25rem, 1vw, 0.5rem);
                    text-transform:uppercase;
                }
            }

            .nav-user {
                @include mix.flex-direction(column);
                @include mix.flex-center-flex-end;
                background-color: col.$bg10;
                border-radius:  0 0 0 clamp(0.37rem, 1vw, 0.75rem);
                box-shadow: clamp(0.15rem, 1vw, 0.3rem) rgb(219, 65, 124);
                height: auto;
                margin: clamp(0.2rem, 1vw, 0.4rem);
                width: clamp(10.6vw, 1vw, 12.5vw);

                .icon {
                    @include mix.flex-direction(column);
                    @include mix.flex-center;

                    .img {
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                        margin: clamp(0.25rem, 1vw, 0.5rem);
                        width: clamp(2rem, 1vw, 2.5rem);
                    }
                }

                .user {
                    @include mix.flex-direction(column);
                    @include mix.flex-center;

                    .name {
                        color: col.$color1;
                        font-size: clamp(0.5rem, 1vw, 1rem);
                        text-align: center;
                        text-overflow: inherit;
                    }

                    .profession {
                        color: col.$color2;
                        text-align: center;
                        font-size: clamp(0.5rem, 1vw, 1rem);
                    }
                }
            }
        }

        .header {
            @include mix.flex-direction(row);
            @include mix.flex-center;
            @include mix.glass-effect;
            background-color: col.$bg6;
            border-radius: 0 clamp(0.5rem, 1vw, 1rem) 0 0;
            grid-area: header;
            height: auto; //12.5vw;
            margin: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem) 0 0;
            position: fixed;  // Stays visible when scrolling
            top: 0;
            right: 0;
            width: 85.8vw;
            z-index: 100;

            .header-menu {
                @include mix.flex-direction(row);
                @include mix.flex-center;
                background-color: #030728;
                border-radius: 0 clamp(0.25rem, 1vw, 0.5rem) 0 0;
                margin: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem);
                padding: clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem);
                width: 100%;

                .main-links {
                    @include mix.flex-direction(row);
                    @include mix.flex-center;
                    padding: 0 clamp(0.25rem, 1vw, 0.5rem);
    
                    a {
                        color: col.$color2;
                        padding: 0 clamp(0.25rem, 1vw, 0.5rem) 0 clamp(0.25rem, 1vw, 2.5rem);

                        &:hover {
                            color: col.$color6;
                        }
                    }
                }
    
                .extra-links {
                    @include mix.flex-direction(row);
                    @include mix.flex-center-flex-end;
                    padding: 0 clamp(0.25rem, 1vw, 0.5rem) 0 clamp(25vw, 1vw, 30vw);
    
                    a {
                        color: col.$color2;
                        padding: 0 clamp(0.25rem, 1vw, 0.5rem) 0 clamp(0.25rem, 1vw, 2.5rem);

                        &:hover {
                            color: col.$color6;
                        }
                    }
                }
            }
        }

        .main {
            @include mix.glass-effect;
            background-color: rgb(185, 236, 66);
            bottom: 120;
            grid-area: main;
            height: 83vh;
            margin: 0 clamp(0.25rem, 1vw, 0.5rem) 0 0;
            overflow-y: scroll;
            position: fixed;  // Stays visible when scrolling
            right: 0;
            width: 85.8vw;
            z-index: 100;

            .main-badges {
                @include mix.flex-direction(column);
                @include mix.flex-center-flex-start;
                @include mix.glass-effect;
            }

            .main-charts {
                @include mix.flex-direction(row);
                @include mix.flex-center;
                @include mix.glass-effect;
            }
        }

        .footer {
            @include mix.flex-direction(row);
            @include mix.flex-center;
            @include mix.glass-effect;
            background-color: rgb(207, 40, 104);
            border-radius: 0 0 1rem 0;
            bottom: 0;
            grid-area: footer;
            margin: 0 clamp(0.25rem, 1vw, 0.5rem) clamp(0.25rem, 1vw, 0.5rem) 0;
            padding: clamp(0.5rem, 1vw, 1rem);
            position: fixed;  // Stays visible when scrolling
            right: 0;
            width: 85.8vw;
            z-index: 100;

            .footer-divide1 {
                @include mix.flex-direction(column);
                @include mix.flex-center;
                border: 0.1rem solid col.$color1;
                border-radius: 0;
                margin: clamp(0.1rem, 1vw, 0.2rem);
                width: 60%;

                .footer-copyright {
                    @include mix.flex-direction(row);
                    @include mix.flex-center;
                    padding: clamp(0.01rem, 1vw, 0.02rem);
                    width: 100%;

                    p {
                        color: col.$color1;
                        font-size: clamp(0.4rem, 1vw, 0.8rem);
                        text-align: center;
                    
                        a {
                            color: col.$color1;
                            font-size: clamp(0.4rem, 1vw, 0.8rem);
                            padding: clamp(0.01rem, 1vw, 0.02rem);
                            text-decoration: none;

                            &:hover {
                                color: col.$hover1;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .footer-statement {
                    @include mix.flex-direction(row);
                    @include mix.flex-center;
                    padding: clamp(0.01rem, 1vw, 0.02rem);
                    width: 100%;

                    p {
                        color: col.$color1;
                        font-size: clamp(0.4rem, 1vw, 0.8rem);
                        text-align: center;
                    
                        a {
                            color: col.$color1;
                            font-size: clamp(0.4rem, 1vw, 0.8rem);
                            padding: clamp(0.01rem, 1vw, 0.02rem);
                            text-decoration: none;

                            &:hover {
                                color: col.$hover1;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                hr {
                    border: 0.12rem solid col.$color3;
                    margin: clamp(0.2rem, 1vw, 0.4rem);
                    width: 80%;
                }
            }

            .footer-divide2 {
                @include mix.flex-direction(column);
                @include mix.flex-center;
                border: 0.1rem solid col.$color1;
                border-radius: 0 0 0.5rem 0;
                margin: clamp(0.1rem, 1vw, 0.2rem);
                width: 40%;

                .footer-links {
                    @include mix.flex-direction(row);
                    @include mix.flex-center;
    
                    a {
                        color: col.$color1;
                        font-size: clamp(0.8rem, 1vw, 1.6rem);
                        padding: clamp(0.1rem, 1vw, 0.25rem);
                        text-decoration: none;
    
                        &:hover {
                            color: col.$hover1;
                            text-decoration: underline;
                        }
                    }
                }
    
                .footer-social {
                    @include mix.flex-direction(row);
                    @include mix.flex-center;
    
                    a {
                        color: col.$color1;
                        font-size: clamp(0.8rem, 1vw, 1.6rem);
                        padding: clamp(0.15rem, 1vw, 0.3rem);
                        text-decoration: none;
    
                        &:hover {
                            color: col.$hover1;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}