@use "colors";
@use "variables";
  

* {
    box-sizing: none;
    margin: 0;
    padding: 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px, Large devices (laptops/desktops, 992px and up) and extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 768px) and (max-width: 991px) and (min-width: 1200px)  {

    body {  
        .parent {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 10px;
    
            nav {
                align-items: center;
                backdrop-filter: blur(10px);
                border: 2px solid RGBA(255, 255, 255, 0.18);
                box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
                grid-column: span 12 / span 12;
                grid-row-start: 1;
                justify-items: center;
                margin: 2px;
                width: 100%;
                z-index: 1100;
            }
    
            header {
                align-items: center;
                backdrop-filter: blur(10px);
                border: 2px solid RGBA(255, 255, 255, 0.18);
                box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
                grid-column: span 12 / span 12;
                grid-row-start: 2;
                justify-items: center;
                margin: 2px;
                width: 100%;
                z-index: 11;
            }
    
            main {
                align-items: center;
                backdrop-filter: blur(10px);
                border: 2px solid RGBA(255, 255, 255, 0.18);
                box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
                grid-column: span 12 / span 12;
                grid-row-start: 3;
                justify-items: center;
                margin: 2px;
                width: 100%;
                z-index: 11;
            }
    
            footer {
                backdrop-filter: blur(10px);
                border: 2px solid RGBA(255, 255, 255, 0.18);
                box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
                grid-column: span 12 / span 12;
                grid-row-start: 4;
                margin: 2px;
                width: 98vw;
                z-index: 11;
            }
        }
    
    }
    

}




.hollow-container {
    aspect-ratio: 16 / 9;
    background: transparent; // Colored, semi-opaque overlay
    border: 1px solid #1a1a1a;
    display: flex;
    flex-direction: row;
    margin: 0 1vw;
    overflow: hidden;
    top: 80px;
    position: relative;
    width: 98vw;

    // The "hole"
    .hollow {
        background: url(../img/pic/help-desk.jpg);
        border-radius: 50%;
        box-shadow: 0 0 0 0px transparent; // rgb(240, 237, 237); // Creates a hollowed-out area
        pointer-events: none; // Let clicks pass through
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 600px;
    }

    .html5 {
        aspect-ratio: 1 / 1;
        position: absolute;
        width: 30px;
        z-index: 10;
    }

    .javascript {
        aspect-ratio: 1 / 1;
        position: absolute;
        width: 20px;
        z-index: 10;
    }

    .sass {
        aspect-ratio: 1 / 1;
        position: absolute;
        width: 40px;
        z-index: 10;
    }

    .welcome {
        background: transparent;
        padding: 20px;
        width: 50vw;

        h1 {
            font-size: 40px;
            padding: 20px;
        }

        p {
            font-size: 25px;
            padding: 50px;
        }
    }
}

