@use "variables" as var;
@use "colors" as col;
@use "mixins" as mix;

* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 0px) {
    .layout {
        display: grid;
        gap: 0.25rem;
        grid-template-areas: 'header' 'nav' 'main' 'widget' 'footer';
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 6rem auto 6rem 6rem 4rem;
        height: 100vh;

        .header {
            @include mix.glass-effect;
            background-color: blueviolet;
            grid-area: header;
        }

        .nav {
            @include mix.glass-effect;
            background-color: yellowgreen;
            grid-area: nav;
        }

        .main {
            @include mix.glass-effect;
            background-color: gainsboro;
            grid-area: main;
        }

        .widget {
            @include mix.glass-effect;
            background-color: red;
            grid-area: widget;
        }

        .footer {
            @include mix.glass-effect;
            background-color: green;
            grid-area: footer;
        }
    }
}

@media screen and (min-width: 480px) {
    .layout {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 6rem auto 6rem 6rem auto;
        grid-template-areas: 'header header header' 
                            'nav nav nav' 
                            'main main main' 
                            'main main main' 
                            'main main main' 
                            'footer footer footer';

        .header {
            grid-area: header;
            @include mix.flex-direction(row);
            @include mix.flex-center-space-between;
           
            .header-logo {
                img {
                    width: 100px;
                    height: 100px;
                }
            }

            .header-title {

                h1 {
                    font-size: 2rem;
                    font-weight: 600;
                    color: col.$color6;
                }
                p {
                    font-size: 1rem;
                    font-weight: 400;
                    color: col.$hover6;
                }
            }
        }

        .nav {
            @include mix.flex-direction(row);
            @include mix.flex-center-space-between;

            grid-area: nav;
            position: sticky;
            top: 20px;
            z-index: 100;

            .nav-logo {
                img {
                    width: 100px;
                    height: 100px;
                }
            }
            
           .nav-links {
                a {
                    color: col.$color1;
                    font-size: 1rem;
                    font-weight: 400;
                    padding: 0.25rem;
                    text-decoration: none;

                    i {
                        color: col.$color1;
                        font-size: 1rem;
                        font-weight: 400;
                        padding: 0.10rem;
                    }

                    &:hover, i:hover {
                        color: col.$hover1;
                        text-decoration: underline;
                    }
                }
           }

           .nav-search {
                @include mix.flex-direction(row);
                @include mix.flex-center;   
                
                button {
                    aspect-ratio: 1 / 1;
                    background-color: col.$color2;
                    border-radius: 50%;
                    color: col.$hover2;
                    height: 25px;
                    left: -25px;
                    z-index: 1;

                    &:hover {
                        background-color: col.$hover2;
                        color: col.$color2;
                    }
                }

                input {               
                    background-color: transparent;
                    border: 1px solid col.$color1;
                    border-radius: 20px;
                    color: col.$hover1;
                    height: 25px;
                    outline: none;
                    padding-left: 0.1rem;
                    text-indent: 1rem;
                    width: 100%;

                    &:hover {
                        border: 1px solid col.$hover1;
                        color: col.$color1;
                    }
                }

                .nav-account {

                    
                }
            }

            .nav-social {
                a {
                    font-size: 1rem;
                    font-weight: 400;
                    color: col.$hover6;
                }
            }
        }

        .main {
            grid-area: main;
        }

        .widget {
            grid-area: widget;
        }

        .footer {
            @include mix.flex-direction(column);
            @include mix.flex-center;
            grid-area: footer;

            footer-top {
                @include mix.flex-direction(row);
                @include mix.flex-center;

                footer-profile{
                    @include mix.flex-direction(column);
                    @include mix.flex-center;

                    img {
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                        padding: auto 1rem;
                        width: 2rem;
                    }


                }

                footer-links {
                    @include mix.flex-direction(column);
                    @include mix.flex-center;

                    legend {
                        padding: auto 1rem;
                    }

                    a {
                        text-decoration: none;

                        :hover {
                            text-decoration: underline;
                        }
                    }
                }

                footer-gallery {
                    img {
                        padding: auto 1rem;
                    }
                }

                footer-contact {
                    form {
                        padding: auto 1rem;

                        legend {
                            font-weight: 900;
                        }
                    }
                }
            }

            footer-bottom {
                @include mix.flex-direction(row);
                @include mix.flex-center;

                footer-copyright {
                    p {
                        padding: auto 1rem;
                    }
                }

                footer-extra {
                    a {
                        font-size: 1rem;
                        font-weight: 400;
                        color: col.$hover6;
                    }
                }
    
                footer-social {
                    a {
                        font-size: 1rem;
                        font-weight: 400;
                        color: col.$hover6;
                    }
                }
            }
        }
    }
}