@use 'variables';


.circle-container {
    height: 300px;
    margin: auto;
    position: relative;
    width: 49vw;


    .center-circle {
        background-color: #3498db;
        border: 1px solid red;
        border-radius: 50%;
        height: 120px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 120px;
        z-index: 2;

        .img {
            aspect-ratio: 1 / 1;
            border-radius: 50%; // optional: make images circular
            position: relative;
            width: 110px;
        }
    }

    .around-img {
        aspect-ratio: 1 / 1;
        border-radius: 50%; // optional: make images circular
        position: absolute;
        width: 100px;

        // We'll dynamically position images using nth-child selectors here
    }

    // Position images evenly around the circle
    // Example for 5 images spaced 72 degrees apart
    .around-img:nth-child(2) {
        top: calc(50% + 120px * sin(0deg) - 25px);
        left: calc(50% + 120px * cos(0deg) - 25px);
    }

    .around-img:nth-child(3) {
        top: calc(50% + 120px * sin(45deg) - 25px);
        left: calc(50% + 120px * cos(45deg) - 25px);
    }

    .around-img:nth-child(4) {
        top: calc(50% + 120px * sin(90deg) - 25px);
        left: calc(50% + 120px * cos(90deg) - 25px);
    }

    .around-img:nth-child(5) {
        top: calc(50% + 120px * sin(135deg) - 25px);
        left: calc(50% + 120px * cos(135deg) - 25px);
    }

    .around-img:nth-child(6) {
        top: calc(50% + 120px * sin(180deg) - 25px);
        left: calc(50% + 120px * cos(180deg) - 25px);
    }

    .around-img:nth-child(7) {
        top: calc(50% + 120px * sin(225deg) - 25px);
        left: calc(50% + 120px * cos(225deg) - 25px);
    }

    .around-img:nth-child(8) {
        top: calc(50% + 120px * sin(270deg) - 25px);
        left: calc(50% + 120px * cos(270deg) - 25px);
    }

    .around-img:nth-child(9) {
        top: calc(50% + 120px * sin(315deg) - 25px);
        left: calc(50% + 120px * cos(315deg) - 25px);
    }

    .around-img:nth-child(10) {
        top: calc(50% + 120px * sin(360deg) - 25px);
        left: calc(50% + 120px * cos(360deg) - 25px);
    }
}

.hollow-container {
    aspect-ratio: 16 / 9;
    background: transparent; // Colored, semi-opaque overlay
    border: 1px solid #1a1a1a;
    display: flex;
    flex-direction: row;
    margin: 0 1vw;
    overflow: hidden;
    top: 80px;
    position: relative;
    width: 98vw;

    // The "hole"
    .hollow {
        background: url(../img/pic/help-desk.jpg);
        border-radius: 50%;
        box-shadow: 0 0 0 0px transparent; // rgb(240, 237, 237); // Creates a hollowed-out area
        pointer-events: none; // Let clicks pass through
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 600px;
    }

    .html5 {
        aspect-ratio: 1 / 1;
        position: absolute;
        width: 30px;
        z-index: 10;
    }

    .javascript {
        aspect-ratio: 1 / 1;
        position: absolute;
        width: 20px;
        z-index: 10;
    }

    .sass {
        aspect-ratio: 1 / 1;
        position: absolute;
        width: 40px;
        z-index: 10;
    }

    .welcome {
        background: transparent;
        padding: 20px;
        width: 50vw;

        h1 {
            font-size: 40px;
            padding: 20px;
        }

        p {
            font-size: 25px;
            padding: 50px;
        }
    }
}

.peach {
    width: 200px;
    height: 250px;
    background-image: url('img/pic/help-desk.jpg'); // Use your peach image URL
    background-size: cover;
    background-position: center;
    border: 1px solid green;
    border-radius: 50% / 60% 60% 40% 40%; // elliptical peach shape  
    position: relative;
    box-shadow: inset -10px 0 20px rgba(255, 224, 189, 0.5); // optional shading inside


    // Optional: add a leaf at the top using ::before
    ::before {
        content: '';
        position: absolute;
        top: 10px;
        left: 50%;
        width: 60px;
        height: 30px;
        background: green;
        border-radius: 50% 50% 0 0;
        transform: translateX(-50%) rotate(-20deg);
        box-shadow: 0 2px 5px rgba(0, 100, 0, 0.6);
    }
}