@use "variables" as var;
@use "colors" as col;
@use "mixins" as mix;

.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: col.$bg1;
  border-radius: 50%;
  border: 6px solid col.$color10;
  transition: 0.5s;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 col.$color10;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 col.$color10;
  }
}