@use 'variables';


* {
    box-sizing: none;
    margin: 0;
    padding: 0;
}

body {
    //background: url("img/");

    .parent {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;

        nav {
            align-items: center;
            justify-items: center;

            grid-column: span 12 / span 12;
            grid-row-start: 1;
            z-index: 11;
        }

        header {
            align-items: center;
            justify-items: center;

            grid-column: span 12 / span 12;
            grid-row-start: 2;
            z-index: 11;
        }

        main {
            align-items: center;
            justify-items: center;

            grid-column: span 12 / span 12;
            grid-row-start: 3;
            z-index: 11;
        }

        footer {
            backdrop-filter: blur(10px);
            border: 2px solid RGBA(255, 255, 255, 0.18);
            box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
            grid-column: span 12 / span 12;
            grid-row-start: 4;
            margin: 2px;
            width: 100%;
            z-index: 11;

            .container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
                padding: 10px;
                width: 100%;

                .about {
                    color: variables.$color1;
                    padding: 2px;
                    font-size: 1.2rem;
                    text-align: center;
                    width: 20%;

                    .container {
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        width: 100%;

                        .first {
                            align-items: center;
                            display: flex;
                            justify-content: center;

                            .img {
                                aspect-ratio: 1 / 1;
                                border-radius: 50%;
                                max-width: 8vw;
                                object-fit: cover;
                                object-position: center;
                                padding: 2px;
                            }
                        }

                        .last {
                            display: flex;
                            flex-direction: column;
                            gap: 2px;

                            .text {
                                display: flex;
                                flex-direction: row;
                                gap: 2px;

                                .title {
                                    font-size: variables.$font-medium;
                                    font-weight: variables.$font-bold;
                                    padding: 2px;
                                    text-align: left;
                                    width: 32%;
                                }

                                .colon {
                                    font-size: variables.$font-medium;
                                    font-weight: variables.$font-bold;
                                    text-align: center;
                                    width: auto;
                                }

                                .name {
                                    color: variables.$color1;
                                    font-size: variables.$font-medium;
                                    font-weight: variables.$font-normal;
                                    padding: 2px;
                                    text-align: left;
                                    width: 66%;
                                }
                            }
                        }
                    }
                }

                .services {
                    color: variables.$color1;
                    padding: 2px;
                    font-size: variables.$font-medium;
                    text-align: center;
                    width: 10%;

                    .container {
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        padding-left: 10px;
                        text-align: left;
                        width: 100%;

                        a {
                            color: variables.$color1;
                            font-size: variables.$font-medium;
                            font-weight: variables.$font-normal;
                            padding-bottom: 4px;
                            text-decoration: none;

                            &:hover {
                                color: variables.$hover1;
                            }
                        }

                        .line {
                            border-top: 1px solid variables.$hover2;
                            margin-left: 10px;
                            width: 60%;
                        }
                    }
                }

                .projects {
                    color: variables.$color1;
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                    padding: 2px 0 2px 2px;
                    font-size: 1.2rem;
                    text-align: center;
                    width: 40%;

                    .container {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;

                        .img {
                            aspect-ratio: 16 / 9;
                            border-radius: 10px;
                            object-fit: cover;
                            object-position: center;
                            padding: 2px;
                            width: 12vw;
                        }

                        .links {
                            align-items: center;
                            border-top: 1px solid variables.$hover2;
                            color: variables.$color1;
                            display: flex;
                            flex-direction: row;
                            gap: 2px;
                            justify-content: center;
                            font-size: variables.$font-medium;
                            text-align: center;
                            width: 100%;

                            a {
                                color: variables.$color2;
                                padding: 4px;
                                text-decoration: none;

                                &:hover {
                                    color: variables.$hover1;
                                }
                            }
                        }
                    }
                }

                .contact {
                    color: variables.$color1;
                    padding: 5px;
                    font-size: 1.2rem;
                    text-align: center;
                    width: 27vw;

                    .title {
                        color: variables.$color1;
                        font-size: 1.2rem;
                        font-weight: variables.$font-bold;
                        padding: 10px;
                    }

                    .form {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding: 10px;

                        button {
                            background-color: variables.$hover2;
                            border: 1px solid variables.$hover2;
                            color: variables.$color1;
                            padding: 10px;
                            transition: background-color 0.5s;
                            transition-delay: 0s;

                            &:hover {
                                background-color: variables.$hover2;
                                color: variables.$hover1;
                            }
                        }

                        input {
                            border: 1px solid variables.$hover2;
                            color: variables.$color1;
                            padding: 10px;
                            transition: background-color 0.5s;
                            transition-delay: 0s;
                            width: 100%;

                            &:hover {
                                border: 1px solid variables.$hover2;
                                color: variables.$hover1;
                            }
                        }

                        textarea {
                            border: 1px solid variables.$hover2;
                            color: variables.$color1;
                            height: 138px;
                            padding: 10px;
                            transition: background-color 0.5s;
                            transition-delay: 0s;
                            width: 100%;

                            &:hover {
                                border: 1px solid variables.$hover2;
                                color: variables.$hover1;
                            }
                        }
                    }

                    .social {
                        align-items: center;
                        border-top: 1px solid variables.$hover2;
                        display: flex;
                        flex-direction: row;
                        gap: 15px;
                        justify-content: center;
                        padding: 5px;
                        width: 100%;

                        .icon {
                            border: 1px solid variables.$hover2;
                            border-radius: 50%;
                            color: variables.$color1;
                            font-size: variables.$font-normal;
                            margin: 10px;
                            outline: 1px solid variables.$color1;
                            padding: 10px 2px;
                            transition: 0.5s;
                            transition-delay: 0s;

                            &:hover {
                                color: variables.$hover1;
                                outline: 1px solid variables.$hover1;
                            }
                        }

                        &:hover {
                            color: variables.$hover1;
                        }
                    }
                }

                .statement {
                    border-top: 1px solid variables.$hover2;
                    color: variables.$color1;
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                    padding: 10px;
                    font-size: variables.$font-small;
                    text-align: center;
                    width: 98vw;

                    .first {
                        display: flex;
                        gap: 2px;
                        padding: 10px;
                        font-size: variables.$font-small;

                        p {
                            color: variables.$color1;
                            padding: 2px;
                            font-size: variables.$font-small;
                            text-align: center;
                            width: 96vw;

                            a {
                                color: variables.$color1;
                                text-decoration: none;

                                &:hover {
                                    color: variables.$hover1;
                                }
                            }
                        }
                    }

                    .last {
                        display: flex;
                        flex-direction: row;
                        gap: 2px;
                        padding: 10px;
                        font-size: variables.$font-small;

                        .copyright {
                            color: variables.$color1;
                            display: flex;
                            font-size: variables.$font-small;
                            justify-content: flex-start;
                            padding-left: 10px;
                            text-align: center;
                            width: 48vw;
                        }

                        .developer {
                            align-items: center;
                            color: variables.$color1;
                            display: flex;
                            justify-content: flex-end;
                            padding-right: 10px;
                            font-size: variables.$font-small;
                            text-align: right;
                            width: 48vw;
                        }

                        a {
                            color: variables.$color1;
                            text-decoration: none;

                            &:hover {
                                color: variables.$hover1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.navbar {
    align-items: flex-start; // Aligns content to the top (default for 
    backdrop-filter: blur(30px);
    border: 2px solid RGBA(255, 255, 255, 0.18);
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
    display: flex; // Makes the header a flex container
    //flex-direction: row;
    justify-content: center; // Centers content (the nav) horizontally
    padding: 0;
    position: fixed;
    top: 1px;    
    width: 100%;
    z-index: 11;
    
    .extra {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        padding-left: 30px;

        .account {
            align-items: center;
            display: flex;
            flex-direction: row; 
            justify-content: flex-end;
            padding: 20px;

            button {
                background-color: variables.$color4;
                color: variables.$color2;
                height: 30px;
                padding: 0 10px;

                &:hover {
                    background-color: variables.$color2;
                    color: variables.$color4;
                }
            }
        }

        .search {
            align-items: center;
            display: flex;
            flex-direction: row; 
            justify-content: flex-start;  
            padding: 20px; 
            
            button {
                background-color: variables.$color5;
                border: 1px solid variables.$color1;
                border-radius: 50%;
                border-left: none;
                border-right: 10px;
                border-bottom: 10px;
                color: variables.$color2;
                cursor: pointer;
                height: 30px;
                margin-left: -14px;
                width: 30px;
                transition: background-color 0.5s;
                transition-delay: 0s;
                z-index: 1;

                i {
                    color: variables.$color1;
                    font-size: variables.$font-normal;
                    transition: 0.5s;
                    transition-delay: 0s;
                }

                &:hover {
                    background-color: variables.$hover4;
                    color: variables.$hover2;

                    i:hover {
                        color: variables.$color2;
                    }
                }
            }

            input {
                background: transparent;
                border: 1px solid variables.$hover4;
                border-radius: 20px 0 0 20px;
                color: variables.$color1;
                cursor: pointer;
                height: 12px;
                outline: none;
                padding: 8px 0px 8px 20px;
                width: 180px;

                &:hover {
                    background: variables.$hover3;
                    color: variables.$hover4;
                }
            }
        }
    }

    .logo {
        display: flex;
        filter: drop-shadow(0 2px 8px variables.$color1);
        height: auto;
        width: 10vw;

        img {
            aspect-ratio: 1 / 1;
            overflow: hidden;
            padding: 0 10px;
            width: 60px;
        }
    }   

    .nav-links {
        align-items: center;
        //background: $hover2;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-items: center;
        gap: 1rem;
        list-style: none;
        padding: 0 20px;
        margin: 0;
    }   

    .nav-item {

        .nav-link {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 1rem 0;
                color: variables.$color4;
                text-decoration: none;

            .icon {
                aspect-ratio: 1 / 1;
                border: 1px solid variables.$color2;
                border-radius: 50%;
                font-size: 30px;
                position: relative;
                text-align: center;
                transition: transform 0.2s;
                width: 40px;

                i {
                    //margin: 20px;

                    &:hover {
                        color: variables.$color1;
                    }
                }
            }

            .text {
                display: none;
                font-size: variables.$font-medium;
                margin-top: 0.25rem;
                margin-left: 10px;
                transition: opacity 0.2s;
            }

            &:hover, &:focus {
                .icon {
                    transform: scale(1.1);              
                }

                .text {
                    color: variables.$color1;
                    display: block;
                    opacity: 1;
                }
            }
        }
    }
}
  

// Responsive adjustments
@media (max-width: 768px) {
    .navbar .nav-links {
        grid-template-columns: repeat(3, 1fr);
    }
}
  
@media (max-width: 480px) {
    .navbar .nav-links {
        grid-template-columns: repeat(2, 1fr);

        .nav-link {
            flex-direction: row;

            .nav-text {
                margin-top: 0;
                margin-left: 0.5rem;
            }
        }
    }
}
  