@use "variables" as var;
@use "colors" as col;
@use "mixins" as mix;

.magnet-btn {
    background: linear-gradient(145deg, #3498db, #2980b9);
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.136);
    color: col.$color2;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 1rem;
    padding: 15px 40px;
    position: relative;
    transform-style: preserve-3d;
    transition: background 0.3s ease;

    &:hover {
        background: linear-gradient(145deg, #4a9de6, #2c8dce);
    }
}

.portfolio-header {
    @include mix.flex-centre-flex-start;
    background: url("img/pic/coding.jpg") center left no-repeat;
    background-size: cover;
    color: white;
    height: 33.5rem; // Adjust height as needed
    position: relative;

    // Half visible background
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #111 100%);
        pointer-events: none;
        z-index: 1;
    }

    .overlay {
        position: relative;
        z-index: 2;
        padding: 0 40px;
        max-width: 50%; // Text over half the section
        h1 {
            font-size: 2.8rem;
            font-weight: 700;
            text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
        }
    }
}

.Search-Input {
    position: relative;
    width: 180px;
    margin: 12px 5px;
    --accent-color: #a3e583;

    &:before {
        transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    }

    &:before,
    &:after {
        content: "";
        left: 0;
        right: 0;
        position: absolute;
        pointer-events: none;
        bottom: -1px;
        z-index: 4;
        width: 100%;
    }

    &:focus-within:before {
        border-bottom: 1px solid var(--accent-color);
    }

    &:before {
        transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    }

    &:focus-within:before {
        border-bottom: 1px solid var(--accent-color);
        transform: scaleX(1);
    }

    &:focus-within:after {
        border-bottom: 2px solid var(--accent-color);
        transform: scaleX(1);
    }

    &:after {
        content: "";
        transform: scaleX(0);
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        will-change: transform;
        border-bottom: 2px solid var(--accent-color);
        border-bottom-color: var(--accent-color);
    }

    &::placeholder {
        transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        opacity: 1;
        user-select: none;
        color: rgba(255, 255, 255, 0.582);
    }

    &:focus-within{
        .textInput {
            background-color: #353535;
        }
    } 

    &:focus-within .textInput::placeholder {
        opacity: 0;
    }

    button {
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        height: 1.9rem;
        position: absolute;
        ;

        i {
            color: col.$color3;
        }
    }

    .textInput {
        border-radius: 5px 5px 0px 0px;
        box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
        max-height: 36px;
        background-color: #252525;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 200ms;
        transition-property: background-color;
        border-radius: 1.7rem;
        color: col.$color2;
        font-size: 14px;
        font-weight: 500;
        padding: 12px;
        width: 100%;
        border-left: none;
        border-bottom: none;
        border-right: none;

        &:focus, &:active {
            outline: none;
        }

        &:focus, &:active {
            background-color: #353535;
        }

        .reset {
            border: none;
            background: none;
            opacity: 0;
            visibility: hidden;
        }

        &:not(:placeholder-shown) ~ .reset {
            opacity: 1;
            visibility: visible;
        }
    }
}
