@use "colors";
@use "variables";

.title {
    color: colors.$color4;
    font-weight: 600;
}

.call {
    color: colors.$color4;
    font-weight: 400;
}

.h-container {
    border: 1px solid colors.$color1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    top: 80px;
    width: 99vw;

    .welcome {
        padding: 10px;
        position: relative;
        width: 40vw;

        h1 {
            font-size: variables.$font-xlarge;
            font-weight: 600;
            padding: 10px;
            text-align: center;
        }

        P {
            font-size: variables.$font-large;
            font-weight: 500;
            padding: 10px;
            text-align: center;
        }
    }
}

.m-container {
    border: 1px solid colors.$color1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 60px 10px;
    top: auto;
    width: 99vw;

    .col {
        border: 1px solid colors.$color1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 98vw;
    }

    .description {
        align-items: center;
        border: 1px solid colors.$color1;
        display: flex;
        justify-content: flex-start;
        margin: 2px;
        width: 24vw;

        p {
            padding: 2px;

            ul {
                padding: 5px;
            }
        }
    }

    .projects {
        border: 1px solid colors.$color1;
        height: 300px;
        margin: 2px;
        position: relative;
        width: 20vw;

        .center-circle {
            background-color: colors.$color4;
            border-radius: 50%;
            height: 120px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 120px;
            z-index: 2;

            .img {
                aspect-ratio: 1 / 1;
                border-radius: 50%; // optional: make images circular
                position: relative;
                width: 110px;
            }
        }

        .around-img {
            aspect-ratio: 1 / 1;
            border-radius: 50%; // optional: make images circular
            position: absolute;
            width: 100px;

            // We'll dynamically position images using nth-child selectors here
        }

        // Position images evenly around the circle
        // Example for 5 images spaced 72 degrees apart
        .around-img:nth-child(2) {
            top: calc(50% + 120px * sin(0deg) - 47px);
            left: calc(50% + 120px * cos(0deg) - 47px);
        }

        .around-img:nth-child(3) {
            top: calc(50% + 120px * sin(45deg) - 47px);
            left: calc(50% + 120px * cos(45deg) - 47px);
        }

        .around-img:nth-child(4) {
            top: calc(50% + 120px * sin(90deg) - 47px);
            left: calc(50% + 120px * cos(90deg) - 47px);
        }

        .around-img:nth-child(5) {
            top: calc(50% + 120px * sin(135deg) - 47px);
            left: calc(50% + 120px * cos(135deg) - 47px);
        }

        .around-img:nth-child(6) {
            top: calc(50% + 120px * sin(180deg) - 47px);
            left: calc(50% + 120px * cos(180deg) - 47px);
        }

        .around-img:nth-child(7) {
            top: calc(50% + 120px * sin(225deg) - 47px);
            left: calc(50% + 120px * cos(225deg) - 47px);
        }

        .around-img:nth-child(8) {
            top: calc(50% + 120px * sin(270deg) - 47px);
            left: calc(50% + 120px * cos(270deg) - 47px);
        }

        .around-img:nth-child(9) {
            top: calc(50% + 120px * sin(315deg) - 47px);
            left: calc(50% + 120px * cos(315deg) - 47px);
        }

        .around-img:nth-child(10) {
            top: calc(50% + 120px * sin(360deg) - 47px);
            left: calc(50% + 120px * cos(360deg) - 47px);
        }
    }

    .row {
        border: 1px solid colors.$color1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 45vw;
    }
}

.f-container {
    align-content: center;
    border: 1px solid colors.$color1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
    margin: 10px;
    padding: 1px 1px;
    width: 99vw;

    .about {
        border: 1px solid colors.$color1;
        color: colors.$color1;
        padding: 2px;
        font-size: 1.2rem;
        text-align: center;
        width: 19vw;

        .container {
            display: flex;
            flex-direction: column;
            gap: 2px;
            width: 100%;

            .first {
                align-items: center;
                display: flex;
                justify-content: center;

                .img {
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    max-width: 8vw;
                    object-fit: cover;
                    object-position: center;
                    padding: 2px;
                }
            }

            .last {
                display: flex;
                flex-direction: column;
                gap: 2px;

                .text {
                    display: flex;
                    flex-direction: row;
                    gap: 2px;

                    .title {
                        font-size: variables.$font-medium;
                        font-weight: variables.$bold-vlight;
                        padding: 2px;
                        text-align: left;
                        width: 32%;
                    }

                    .colon {
                        font-size: variables.$font-medium;
                        font-weight: variables.$bold-vlight;
                        padding-right: 20px;
                        text-align: center;
                        width: auto;
                    }

                    .name {
                        align-items: flex-end;
                        color: colors.$color1;
                        font-size: variables.$font-medium;
                        font-weight: variables.$font-normal;
                        justify-items: flex-end;
                        padding: 2px;
                        text-align: left;
                        width: 66%;
                    }
                }
            }
        }
    }

    .services {
        border: 1px solid colors.$color1;
        color: colors.$color1;
        padding: 2px;
        font-size: variables.$font-medium;
        text-align: center;
        width: 9vw;

        .container {
            display: flex;
            flex-direction: column;
            gap: 2px;
            padding-left: 10px;
            text-align: left;
            width: 100%;

            a {
                color: colors.$color1;
                font-size: variables.$font-medium;
                font-weight: variables.$font-normal;
                padding-bottom: 4px;
                text-decoration: none;

                &:hover {
                    color: colors.$hover1;
                }
            }

            .line {
                border-top: 1px solid colors.$hover2;
                //margin-left: 10px;
                //width: 60%;
            }
        }
    }

    .projects {
        align-items: center;
        border: 1px solid colors.$color1;
        color: colors.$color1;
        display: flex;
        flex-direction: column;
        gap: 2px;
        justify-items: center;
        padding: 2px 0 2px 2px;
        font-size: 1.2rem;
        text-align: center;
        width: 42vw;

        .container {
            align-items: center;
            border: 1px solid colors.$color1;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .img {
                aspect-ratio: 16 / 9;
                border-radius: 10px;
                object-fit: cover;
                object-position: center;
                padding: 2px;
                width: 12vw;
            }

            .links {
                align-items: center;
                border-top: 1px solid colors.$hover2;
                color: colors.$color1;
                display: flex;
                flex-direction: row;
                gap: 2px;
                justify-content: center;
                font-size: variables.$font-medium;
                text-align: center;
                width: 100%;

                a {
                    color: colors.$color2;
                    padding: 4px;
                    text-decoration: none;

                    &:hover {
                        color: colors.$hover1;
                    }
                }
            }
        }
    }

    .contact {
        color: colors.$color1;
        padding: 5px;
        font-size: 1.2rem;
        text-align: center;
        width: 25vw;

        .title {
            color: colors.$color1;
            font-size: 1.2rem;
            font-weight: variables.$bold-vlight;
            padding: 10px;
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;

            button {
                background-color: colors.$hover2;
                border: 1px solid colors.$hover2;
                color: colors.$color1;
                padding: 10px;
                transition: background-color 0.5s;
                transition-delay: 0s;

                &:hover {
                    background-color: colors.$hover2;
                    color: colors.$hover1;
                }
            }

            input {
                border: 1px solid colors.$hover2;
                color: colors.$color1;
                padding: 10px;
                transition: background-color 0.5s;
                transition-delay: 0s;
                width: 100%;

                &:hover {
                    border: 1px solid colors.$hover2;
                    color: colors.$hover1;
                }
            }

            textarea {
                border: 1px solid colors.$hover2;
                color: colors.$color1;
                height: 138px;
                padding: 10px;
                transition: background-color 0.5s;
                transition-delay: 0s;
                width: 100%;

                &:hover {
                    border: 1px solid colors.$hover2;
                    color: colors.$hover1;
                }
            }
        }

        .social {
            align-items: center;
            border-top: 1px solid colors.$hover2;
            display: flex;
            flex-direction: row;
            gap: 15px;
            justify-content: center;
            padding: 5px;
            width: 100%;

            .icon {
                border: 1px solid colors.$hover2;
                border-radius: 50%;
                color: colors.$color1;
                font-size: variables.$font-normal;
                margin: 10px;
                outline: 1px solid colors.$color1;
                padding: 10px 2px;
                transition: 0.5s;
                transition-delay: 0s;

                &:hover {
                    color: colors.$hover1;
                    outline: 1px solid colors.$hover1;
                }
            }

            &:hover {
                color: colors.$hover1;
            }
        }
    }

    .statement {
        border-top: 1px solid colors.$hover2;
        color: colors.$color1;
        display: flex;
        flex-direction: column;
        gap: 2px;
        padding: 10px;
        font-size: variables.$font-small;
        text-align: center;
        width: 98vw;

        .first {
            display: flex;
            gap: 2px;
            padding: 10px;
            font-size: variables.$font-small;

            p {
                color: colors.$color1;
                padding: 2px;
                font-size: variables.$font-small;
                text-align: center;
                width: 96vw;

                a {
                    color: colors.$color1;
                    text-decoration: none;

                    &:hover {
                        color: colors.$hover1;
                    }
                }
            }
        }

        .last {
            display: flex;
            flex-direction: row;
            padding: 10px;
            font-size: variables.$font-small;

            .copyright {
                color: colors.$color1;
                display: flex;
                font-size: variables.$font-small;
                justify-content: flex-start;
                padding-left: 10px;
                text-align: center;
                width: 48vw;
            }

            .developer {
                align-items: center;
                color: colors.$color1;
                display: flex;
                justify-content: flex-end;
                padding-right: 10px;
                font-size: variables.$font-small;
                text-align: right;
                width: 48vw;
            }

            a {
                color: colors.$color1;
                text-decoration: none;

                &:hover {
                    color: colors.$hover1;
                }
            }
        }
    }
}

.navbar {
    align-items: flex-start; // Aligns content to the top (default for
    backdrop-filter: blur(30px);
    border: 2px solid RGBA(255, 255, 255, 0.18);
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 30px RGBA(227, 228, 237, 0.37);
    display: flex; // Makes the header a flex container
    //flex-direction: row;
    justify-content: center; // Centers content (the nav) horizontally
    padding: 0;
    position: fixed;
    top: 1px;
    width: 100%;
    z-index: 11;

    .extra {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        padding-left: 30px;

        .account {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 20px;

            button {
                background-color: colors.$color4;
                color: colors.$color2;
                height: 30px;
                padding: 0 10px;

                &:hover {
                    background-color: colors.$color2;
                    color: colors.$color4;
                }
            }
        }

        .search {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 20px;

            button {
                background-color: colors.$color5;
                border: 1px solid colors.$color1;
                border-radius: 50%;
                border-left: none;
                border-right: 10px;
                border-bottom: 10px;
                color: colors.$color2;
                cursor: pointer;
                height: 30px;
                margin-left: -14px;
                width: 30px;
                transition: background-color 0.5s;
                transition-delay: 0s;
                z-index: 1;

                i {
                    color: colors.$color1;
                    font-size: variables.$font-normal;
                    transition: 0.5s;
                    transition-delay: 0s;
                }

                &:hover {
                    background-color: colors.$hover4;
                    color: colors.$hover2;

                    i:hover {
                        color: colors.$color2;
                    }
                }
            }

            input {
                background: transparent;
                border: 1px solid colors.$hover4;
                border-radius: 20px 0 0 20px;
                color: colors.$color1;
                cursor: pointer;
                height: 12px;
                outline: none;
                padding: 8px 0px 8px 20px;
                width: 180px;

                &:hover {
                    background: colors.$hover3;
                    color: colors.$hover4;
                }
            }
        }
    }

    .logo {
        display: flex;
        filter: drop-shadow(0 2px 8px colors.$color1);
        height: auto;
        width: 10vw;

        img {
            aspect-ratio: 1 / 1;
            overflow: hidden;
            padding: 0 10px;
            width: 60px;
        }
    }

    .nav-links {
        align-items: center;
        //background: $hover2;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-items: center;
        gap: 1rem;
        list-style: none;
        padding: 0 20px;
        margin: 0;
    }

    .nav-item {
        .nav-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1rem 0;
            color: colors.$color4;
            text-decoration: none;

            .icon {
                aspect-ratio: 1 / 1;
                border: 1px solid colors.$color2;
                border-radius: 50%;
                font-size: 30px;
                position: relative;
                text-align: center;
                transition: transform 0.2s;
                width: 40px;

                i {
                    //margin: 20px;

                    &:hover {
                        color: colors.$color1;
                    }
                }
            }

            .text {
                display: none;
                font-size: variables.$font-medium;
                margin-top: 0.25rem;
                margin-left: 10px;
                transition: opacity 0.2s;
            }

            &:hover,
            &:focus {
                .icon {
                    transform: scale(1.1);
                }

                .text {
                    color: colors.$color1;
                    display: block;
                    opacity: 1;
                }
            }
        }
    }
}

// Responsive adjustments
@media (max-width: 768px) {
    .navbar .nav-links {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .navbar .nav-links {
        grid-template-columns: repeat(2, 1fr);

        .nav-link {
            flex-direction: row;

            .nav-text {
                margin-top: 0;
                margin-left: 0.5rem;
            }
        }
    }
}



.container {
    display: flex;
    width: 100%;
    height: 70vh;
    outline: none; // We'll define focus styles manually
    border: 2px solid transparent;
    transition: border-color 0.5s ease;

    &:focus {
        border-color: #007BFF; // highlight border on focus
    }

    // Initial state before focus - halves slightly scaled down and faded
    &:not(:focus) .side {
        transform: scale(0.95);
        opacity: 0.85;
    }
}

.side {
    flex: 1; // equal width sides
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.5s ease, opacity 0.5s ease;

    &.left-side {
        background-color: #f0f0f0;
        //width: 50%;

        &:hover {
            width: 100%;
            z-index: 3;
        }
    }

    &.right-side {
        background-color: #d0d0d0;
        //width: 50%;
        
        &:hover {
            width: 100%;
            z-index: 3;
        }
    }
}



