<header class="header">
    <div class="header-container">
        <!-- Brand Logo -->
        <a href="#" class="nav-logo">
            <img src="/static/img/logo/qo.png" alt="Company Logo">
            0D<span>3R</span>
        </a>

        <!-- Hamburger Menu Button -->
        <button class="menu-toggle" id="mobile-menu" aria-label="Toggle navigation">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>

        <!-- Navigation Links -->
        <nav class="nav-menu" id="nav-menu">
            <ul class="nav-list">
                <li class="nav-item"><a href="#" class="nav-link active" data-target="page-hero">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link" data-target="page-projects">Projects</a></li>
                <li class="nav-item"><a href="#" class="nav-link" data-target="page-about">Contact</a></li>
                <li class="nav-item"><a href="#" class="nav-link" data-target="page-experience">Experience</a></li>
                <li class="nav-item"><a href="#" class="nav-link" data-target="page-authentic   ation">Get Started</a>
                </li>
            </ul>
        </nav>
    </div>
</header>