@use 'abstracts/colors' as *;
@use 'abstracts/mixins' as *;
@use 'abstracts/variables' as *;

.tooltip {
    position: absolute;
    top: -40px;
    display: none;
    opacity: 0;
    color: var(--theme-text);
    font-size: 10px;
    text-wrap: nowrap;
    background-color: var(--theme-surface);
    padding: 6px 10px;
    border: 1px solid var(--theme-border);
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
    transition: all 0.3s;
}