<section class="overlay-container">
    <div class="overlay">
        <div class="overlay-panel overlay-right">
            <a href="/" class="auth-logo">
                <img src="../static/img/qo.png" alt="Company Logo">
                Pay<span>Pulse</span>
            </a>
            <h2>Welcome to OmniRemit!</h2>
            <p>Enter your personal details and start your journey with us</p>
            <button class="btn outline-btn" @click="toggleMode">Sign Up</button>
        </div>
        <div class="overlay-panel overlay-left">
            <a href="/" class="auth-logo">
                <img src="../static/img/qo.png" alt="Company Logo">
                Pay<span>Pulse</span>
            </a>
            <h2>Secure Client Login</h2>
            <p>To keep connected with us please login with your personal info</p>
            <button class="btn outline-btn" @click="toggleMode">Sign In</button>
        </div>
    </div>
</section>