<!DOCTYPE html>
<html>

<!-- include: partials/head.html title="Dev | Portifolio" -->

<body class="layout">
  <!-- include: partials/nav.html -->
  <!-- include: partials/hero.html -->
  <main>
    <canvas></canvas>
    <!-- include: partials/awards.html -->
    <!-- include: partials/projects.html -->
    <!-- include: partials/skills.html -->
    <!-- include: partials/experience.html -->
    <!-- include: partials/about.html -->
    <!-- include: partials/contact.html -->
  </main>
  <!-- include: partials/footer.html -->

  <!-- include: partials/scripts.html -->
</body>

</html>
