<section class="hero-section reveal-on-scroll">
  <div class="typing-title">Hi, I'm <q class="highlight">Q0D3R</q></div>
  <section class="avatar-flip-container">
    <div class="avatar-flip">
      <div class="avatar-front">
        <img class="img" src="static/img/logo/IT-Officer.jpg" alt="Dakarai Mlambo - IT Officer">
      </div>
      <div class="avatar-back">
        <img class="img" src="static/img/logo/Developer.jpg" alt="Dakarai Mlambo - Developer">
      </div>
    </div>
  </section>
  <div class="dropping-subtitle">Software &amp; Web Developer • IT Officer • Founder of Kush Systems
  </div>
  <div class="icon-slideshow">
    <div class="slideshow-track">
      <!-- Original Set -->
      <span class="icon-slide"><ion-icon name="logo-html5"></ion-icon></span>
      <span class="icon-slide"><ion-icon name="logo-css3"></ion-icon></span>
      <span class="icon-slide"><ion-icon name="logo-python"></ion-icon></span>
      <span class="icon-slide"><ion-icon name="logo-react"></ion-icon></span>
      <span class="icon-slide"><ion-icon name="logo-github"></ion-icon></span>
      <span class="icon-slide"><ion-icon name="logo-sass"></ion-icon></span>
      <span class="icon-slide"><ion-icon name="logo-nodejs"></ion-icon></span>
      <span class="icon-slide"><ion-icon name="logo-javascript"></ion-icon></span>
      <span class="icon-slide"><ion-icon name="logo-electron"></ion-icon></span>
      <span class="icon-slide"><ion-icon name="logo-figma"></ion-icon></span>
      <span class="icon-slide"><ion-icon name="logo-vue"></ion-icon></span>
    </div>
  </div>
  <div class="hero-content">
    <p class="hero-subtitle">
      A dedicated <span class="highlight">Full Stack Software &amp; Web Developer, Graphic Designer, and IT
        Specialist</span> based in Harare, Zimbabwe.
      <br><br>
      I blend technical engineering with creative vision to craft high-performance, accessible web applications, brand
      identities, and enterprise IT solutions. From full-stack web platforms and database architectures to community
      tech mentorship and athletics officiating, I approach every project with passion, precision, and purpose.
    </p>
    <a href="#projects" class="btn" onclick="showSection('page-projects')">View My Work</a>
  </div>
</section>